//
    Template default para: dbms.security.sec_perfis
    Criado em Sun May 29 2016 08:59:22 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Sec Perfis
        th Perfil
        th Observações
    tbody
        tr(rv-each-row='dbms.security.[object Object].data.rows')
            td {row.sec_perfis_key}
            td {row.perfil}
            td {row.observacoes}