//
    Template choose para: softlabs.app.app_integ_config
    Criado em Thu May 26 2016 11:08:50 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th App Integ Config
        th Config
        th Host
        th Port
        th User
        th Pwd
        th Api Remota
        th Modulo
        th Api Modulo
        th Observações
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.app_integ_config_key'
        )
            td {row.app_integ_config_key}
            td {row.config}
            td {row.host}
            td {row.port}
            td {row.user}
            td {row.pwd}
            td {row.api_remota}
            td {row.modulo}
            td {row.api_modulo}
            td {row.observacoes}