//
    Template choose para: softlabs.empresas.emp_clientes
    Criado em Thu May 26 2016 11:09:24 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th Emp Clientes
        th Parceiros
        th Ativo
        th Observações
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.emp_clientes_key'
        )
            td {row.emp_clientes_key}
            td {row.parceiros_key}
            td {row.ativo}
            td {row.observacoes}