//
    Template default para: softlabs.empresas.emp_clientes
    Criado em Mon May 16 2016 10:45:08 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Emp Clientes
        th Parceiros
        th Ativo
        th Observações
    tbody
        tr(rv-each-row='data.rows')
            td {row.emp_clientes_key}
            td {row.parceiros_key}
            td {row.ativo}
            td {row.observacoes}