//
    Template default para: dbms.items.item_modelos
    Criado em Mon Jun 13 2016 08:56:39 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Item Modelos
        th Item Marcas
        th Modelo
    tbody
        tr(rv-each-row='dbms.items.item_modelos.data.rows')
            td {row.item_modelos_key}
            td {row.item_marcas_key}
            td {row.modelo}