//
    Template default para: softlabs.rh.rh_habilidades
    Criado em Thu May 26 2016 11:10:30 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='softlabs.rh.[object Object].data.rows')
    .content
        .header {row.rh_habilidades_key} - {row.habilidade}
        .meta Keys:  - sem dependências -
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='softlabs rh [object Object] edit', rv-data-key='row.rh_habilidades_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='softlabs rh [object Object] delete', rv-data-key='row.rh_habilidades_key')
                i.delete.icon
                | Remover
