//
    Template choose para: softlabs.rh.rh_habilidades
    Criado em Mon May 23 2016 09:16:46 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th Rh Habilidades
        th Codigo
        th Habilidade
        th Observações
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.rh_habilidades_key'
        )
            td {row.rh_habilidades_key}
            td {row.codigo}
            td {row.habilidade}
            td {row.observacoes}