//
    Template default para: softlabs.rh.rh_habilidades
    Criado em Thu May 26 2016 11:10:30 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Rh Habilidades
        th Codigo
        th Habilidade
        th Observações
    tbody
        tr(rv-each-row='softlabs.rh.[object Object].data.rows')
            td {row.rh_habilidades_key}
            td {row.codigo}
            td {row.habilidade}
            td {row.observacoes}