//
    Template default para: softlabs.rh.rh_habilidades
    Criado em Mon May 16 2016 10:47:54 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Rh Habilidades
        th Codigo
        th Habilidade
        th Observações
    tbody
        tr(rv-each-row='data.rows')
            td {row.rh_habilidades_key}
            td {row.codigo}
            td {row.habilidade}
            td {row.observacoes}