//
    Template default para: dbms.contratos.contr_items
    Criado em Mon Jun 13 2016 08:54:49 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Contr Items
        th Items
        th Contr Fases
        th Quantidade
        th Valor Unit
        th Observações
    tbody
        tr(rv-each-row='dbms.contratos.contr_items.data.rows')
            td {row.contr_items_key}
            td {row.items_key}
            td {row.contr_fases_key}
            td {row.quantidade}
            td {row.valor_unit}
            td {row.observacoes}