
.ui.content.segment
    table.ui.compact.striped.celled.table
        thead
            th Data
            th Histórico
            th Receita
            th Despesa
            th Saldo

        tbody
            tr(rv-each-row='data.financeiro.fluxo2')
                td {row.data}
                td {row.historico}
                td.center.aligned {row.receita | numberFormat 2 ',' '.'}
                td.center.aligned {row.despesa | numberFormat 2 ',' '.'}
                td.center.aligned 0,00


.ui.content.segment
    .ui.middle.aligned.divided.fluid.list
        .item(rv-each-row='data.financeiro.fluxo')
            i.dropdown.icon
            .ui.fluid.content
                .header {row.label}
                .ui.middle.aligned.divided.fluid.list
                    .item(rv-each-item='row.values')
                        i.green.plus.icon(rv-unless='item.receita')
                        i.red.minus.icon(rv-unless='item.despesa')
                        .content.fluid.fluxo
                            .left.floated.historico {item.historico}
                            .left.floated.valor R$ {item.receita | numberFormat 2 ',' '.'}
                            .left.floated.valor R$ {item.despesa | numberFormat 2 ',' '.'}
