//
    Template default para: dbms.apps.app_autorizacoes
    Criado em Sun May 29 2016 08:57:02 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='dbms.apps.[object Object].data.rows')
    .content
        .header {row.app_autorizacoes_key} - {row.autorizacao}
        .meta Keys:  - sem dependências -
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='dbms apps [object Object] edit', rv-data-key='row.app_autorizacoes_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='dbms apps [object Object] delete', rv-data-key='row.app_autorizacoes_key')
                i.delete.icon
                | Remover
