//
    Template default para: dbms.apps.app_autorizacoes
    Criado em Mon Jun 13 2016 08:54:31 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th App Autorizações
        th Ativo
        th Autorização
        th Modulo
        th Observações
    tbody
        tr(rv-each-row='dbms.apps.app_autorizacoes.data.rows')
            td {row.app_autorizacoes_key}
            td {row.ativo}
            td {row.autorizacao}
            td {row.modulo}
            td {row.observacoes}