//
    Template default para: dbms.items.item_ident_equipamentos
    Criado em Mon Jun 13 2016 08:56:39 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Item Identificado
        th Observações
    tbody
        tr(rv-each-row='dbms.items.item_ident_equipamentos.data.rows')
            td {row.item_identificado_key}
            td {row.observacoes}