//
    Template choose para: softlabs.movimentacoes.mov_status
    Criado em Thu May 26 2016 11:10:05 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th Mov Status
        th Mov Status
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.mov_status_key'
        )
            td {row.mov_status_key}
            td {row.mov_status}