//
    Template default para: softlabs.movimentacoes.mov_status
    Criado em Mon May 16 2016 10:47:04 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Mov Status
        th Mov Status
    tbody
        tr(rv-each-row='data.rows')
            td {row.mov_status_key}
            td {row.mov_status}