//
    Template default para: softlabs.rh.rh_func_habilidades_rel
    Criado em Mon May 16 2016 10:47:54 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Rh Funcionarios
        th Rh Habilidades
        th Dt Adquirida
        th Dt Planejada
        th Nivel
        th Observações
    tbody
        tr(rv-each-row='data.rows')
            td {row.rh_funcionarios_key}
            td {row.rh_habilidades_key}
            td {row.dt_adquirida}
            td {row.dt_planejada}
            td {row.nivel}
            td {row.observacoes}