//
    Template default para: dbms.enderecos.end_ceps
    Criado em Sun May 29 2016 08:57:57 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th End Ceps
        th End Bairros
        th End Cidades
        th End Estados
        th End Paises
        th Cep
        th Logradouro
        th Endereco
    tbody
        tr(rv-each-row='dbms.enderecos.[object Object].data.rows')
            td {row.end_ceps_key}
            td {row.end_bairros_key}
            td {row.end_cidades_key}
            td {row.end_estados_key}
            td {row.end_paises_key}
            td {row.cep}
            td {row.logradouro}
            td {row.endereco}