//
    Template default para: softlabs.items.items
    Criado em Mon May 16 2016 10:46:43 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Items
        th Item Categorias
        th Item Categ Sub
        th Cont Centros Resultado
        th Ativo
        th Codigo
        th Item
        th Observações
    tbody
        tr(rv-each-row='data.rows')
            td {row.items_key}
            td {row.item_categorias_key}
            td {row.item_categ_sub_key}
            td {row.cont_centros_resultado_key}
            td {row.ativo}
            td {row.codigo}
            td {row.item}
            td {row.observacoes}