//
    Template default para: dbms.contratos.contr_faturamentos_leituras_rel
    Criado em Mon Jun 13 2016 08:54:49 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Contr Item Leituras
        th Contr Faturamentos
    tbody
        tr(rv-each-row='dbms.contratos.contr_faturamentos_leituras_rel.data.rows')
            td {row.contr_item_leituras_key}
            td {row.contr_faturamentos_key}