//
    Template default para: dbms.items.item_marcas
    Criado em Mon Jun 13 2016 08:56:39 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='dbms.items.item_marcas.data.rows')
    .content
        .header {row.item_marcas_key} - {row.marca}
        .meta Keys: item_fabricantes_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='dbms items item_marcas edit', rv-data-key='row.item_marcas_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='dbms items item_marcas delete', rv-data-key='row.item_marcas_key')
                i.delete.icon
                | Remover
