//
    Template choose para: dbms.items.item_marcas
    Criado em Sun May 29 2016 08:58:25 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th Item Marcas
        th Item Fabricantes
        th Marca
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.item_marcas_key'
        )
            td {row.item_marcas_key}
            td {row.item_fabricantes_key}
            td {row.marca}