//
    Template default para: dbms.items.item_marcas
    Criado em Mon Jun 13 2016 08:56:39 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Item Marcas
        th Item Fabricantes
        th Marca
    tbody
        tr(rv-each-row='dbms.items.item_marcas.data.rows')
            td {row.item_marcas_key}
            td {row.item_fabricantes_key}
            td {row.marca}