//
    Template default para: softlabs.movimentacoes.mov_itens_impostos_rel
    Criado em Thu May 26 2016 11:10:05 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='softlabs.movimentacoes.[object Object].data.rows')
    .content
        .header {row.mov_itens_key} - {row.aliquota}
        .meta Keys: mov_itens_key, impostos_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='softlabs movimentacoes [object Object] edit', rv-data-key='row.mov_itens_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='softlabs movimentacoes [object Object] delete', rv-data-key='row.mov_itens_key')
                i.delete.icon
                | Remover
