//
    Template default para: softlabs.movimentacoes.mov_itens_impostos_rel
    Criado em Mon May 16 2016 10:47:04 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Mov Itens
        th Impostos
        th Aliquota
        th Base Tributada
        th Base Isenta
        th Observações
    tbody
        tr(rv-each-row='data.rows')
            td {row.mov_itens_key}
            td {row.impostos_key}
            td {row.aliquota}
            td {row.base_tributada}
            td {row.base_isenta}
            td {row.observacoes}