//
    Template default para: dbms.apps.app_config_empresas_rel
    Criado em Mon Jun 13 2016 08:54:31 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='dbms.apps.app_config_empresas_rel.data.rows')
    .content
        .header {row.app_config_key} - {row.}
        .meta Keys: app_config_key, empresas_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='dbms apps app_config_empresas_rel edit', rv-data-key='row.app_config_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='dbms apps app_config_empresas_rel delete', rv-data-key='row.app_config_key')
                i.delete.icon
                | Remover
