//
    Template choose para: softlabs.empresas.emp_fornecedores
    Criado em Mon May 23 2016 09:14:47 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th Fornecedor
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.emp_fornecedores_key'
        )
            td {row.parceiro}