//
    Template default para: dbms.rh.rh_funcionarios
    Criado em Sun May 29 2016 08:59:15 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Rh Funcionarios
        th Parceiros
        th Rh Cargos
        th Cont Centro Resultados
        th Ativo
        th Dt Contratação
        th Dt Desligamento
        th Observações
    tbody
        tr(rv-each-row='dbms.rh.[object Object].data.rows')
            td {row.rh_funcionarios_key}
            td {row.parceiros_key}
            td {row.rh_cargos_key}
            td {row.cont_centro_resultados_key}
            td {row.ativo}
            td {row.dt_contratacao}
            td {row.dt_desligamento}
            td {row.observacoes}