//
    Template default para: softlabs.items.item_embalagens
    Criado em Thu May 26 2016 11:09:57 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Item Embalagens
        th Embalagem
        th Usa Compra
        th Usa Venda
    tbody
        tr(rv-each-row='softlabs.items.[object Object].data.rows')
            td {row.item_embalagens_key}
            td {row.embalagem}
            td {row.usa_compra}
            td {row.usa_venda}