//
    Template default para: softlabs.items.item_embalagens
    Criado em Mon May 16 2016 10:46:43 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Item Embalagens
        th Embalagem
        th Usa Compra
        th Usa Venda
    tbody
        tr(rv-each-row='data.rows')
            td {row.item_embalagens_key}
            td {row.embalagem}
            td {row.usa_compra}
            td {row.usa_venda}