/* Estilos globais da aplicação */

body{
    background-color: #E9EAF0 !important;
}


/***** Interface de login *****/

#login {
    height: 100%;
}
#login:before {
    content: "";
    background-image: url("../_imgs/_intf/login1.png");
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    left: 0;
    background-size: cover;
    -webkit-filter: blur(7px);
    filter: blur(7px);
}

.login-bar {
    height: 150px;
}



/***** Ajustes de Globais *****/

#logo_softlabs {
    display: none;
}

.app-grid-header {
    padding: 0.9rem 0 !important;
    border-bottom: 1px inset silver;
}

.app-grid-rows {
    border-bottom: 1px dotted rgba(192, 192, 192, 0.47);
}

/***** Aplicação *****/

.app-header:before {
    content: "";
    background-image: url("../_imgs/_intf/bg8.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-size: 90%;
    top: 0px;
    left: 0px;
    background-position-x: 112%;
    background-position-y: 42%;
}


.app-logo-header {
    width: 100px !important;
}

.app-menu-trigger{
    margin-top: -18px !important;
    margin-right: -23px !important;;
}

.app-bar {

}
.app-bar:before {
    content: "";
    background-image: url("../_imgs/_logos/addmark_horizontal.png");
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-size: 106px;
    background-position-x: 98%;
    background-position-y: -1px;
}



/***** Financas *****/

.app-receita{
    background: linear-gradient(to left, rgba(68, 197, 66, 0.07) 0%,rgba(129, 206, 105, 0.27) 100%) !important
}
.app-receita-sum{
    background: linear-gradient(to top, rgba(68,197,66,0.01) 54%,rgba(129,206,105,0.32) 120%)!important;
    border-top: 0px solid #B3ADAD;
}


.app-despesa {
    background: linear-gradient(to right, rgba(154, 69, 43, 0) 0%,rgba(229, 171, 158, 0.38) 100%)!important;
}
.app-despesa-title-header{
    display: none !important;
}
.active .app-despesa-title-header{
    display: block;
}

.app-despesa-sum{
    zbackground: linear-gradient(to top, rgba(236,59,5,0.01) 39%,rgba(241,53,11,0.32) 163%)!important;
    border-top: 1px solid #BDBDBD;
}
.app-despesa-title-sum{
    color: #1F1E1E;
    float: right;
}
.active .app-despesa-title-sum{
    opacity: 0.15;
}
.app-despesa-footer-sum{
    color: #1F1E1E;
}


.fluxo {
    zborder-bottom: 1px dotted #d8d8d8;
    width: 100%;
}

.fluxo>.historico{
    width: 70%;
    display: block;
    border-bottom: 1px dotted #D1D1D6;
    float: left;
    margin-bottom: 6px;
}
.fluxo>.valor{
    width: 15%;
    display: block;
    float: left;
    border-bottom: 1px dotted #D0CFCF;
    text-align: right;
}