//
    Template default para: dbms.contratos.contr_faturamentos
    Criado em Mon Jun 13 2016 08:54:49 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='dbms.contratos.contr_faturamentos.data.rows')
    .content
        .header {row.contr_faturamentos_key} - {row.descricao}
        .meta Keys: contr_fases_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='dbms contratos contr_faturamentos edit', rv-data-key='row.contr_faturamentos_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='dbms contratos contr_faturamentos delete', rv-data-key='row.contr_faturamentos_key')
                i.delete.icon
                | Remover
