//
    Template default para: softlabs.items.item_categ_sub
    Criado em Mon May 16 2016 10:46:43 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Item Categ Sub
        th Item Categorias
        th Cont Centros Resultado
        th Sub Categoria
        th Observações
    tbody
        tr(rv-each-row='data.rows')
            td {row.item_categ_sub_key}
            td {row.item_categorias_key}
            td {row.cont_centros_resultado_key}
            td {row.sub_categoria}
            td {row.observacoes}