//
    Template default para: dbms.items.item_ident_imoveis
    Criado em Sun May 29 2016 08:58:25 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Item Identificado
        th Observações
    tbody
        tr(rv-each-row='dbms.items.[object Object].data.rows')
            td {row.item_identificado_key}
            td {row.observacoes}