//
    Template default para: softlabs.contabil.cont_centro_resultados
    Criado em Mon May 16 2016 10:44:44 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Cont Centro Resultados
        th Parent
        th  Left
        th  Right
        th  Moving
        th  Integração
        th Ativo
        th Codigo
        th Centro Resultado
        th Observações
    tbody
        tr(rv-each-row='data.rows')
            td {row.cont_centro_resultados_key}
            td {row.parent_key}
            td {row._left}
            td {row._right}
            td {row._moving}
            td {row._integracao}
            td {row.ativo}
            td {row.codigo}
            td {row.centro_resultado}
            td {row.observacoes}