//
    Template default para: dbms.contabil.cont_historicos_resultados_rel
    Criado em Mon Jun 13 2016 08:55:41 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Cont Historicos
        th Cont Centro Resultados
        th Percentual
    tbody
        tr(rv-each-row='dbms.contabil.cont_historicos_resultados_rel.data.rows')
            td {row.cont_historicos_key}
            td {row.cont_centro_resultados_key}
            td {row.percentual}