//
    Template default para: dbms.movimentacoes.mov_itens
    Criado em Mon Jun 13 2016 08:54:12 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='dbms.movimentacoes.mov_itens.data.rows')
    .content
        .header {row.mov_itens_key} - {row.ncm}
        .meta Keys: movimentacoes_key, items_key, mov_itens_status_key, mov_cfop_key, cont_centro_resultados_key, unidades_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='dbms movimentacoes mov_itens edit', rv-data-key='row.mov_itens_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='dbms movimentacoes mov_itens delete', rv-data-key='row.mov_itens_key')
                i.delete.icon
                | Remover
