//
    Template default para: dbms.movimentacoes.mov_itens
    Criado em Sun May 29 2016 08:58:34 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Mov Itens
        th Movimentações
        th Items
        th Mov Itens Status
        th Mov Cfop
        th Cont Centro Resultados
        th Ncm
        th Ean Gtin
        th Ean Gtin Tributavel
        th Un Tributavel
        th Compõe Tot Mov
        th Unidades
        th Quantidade
        th Valor Unitario
        th Valor Total
        th Valor Frete
        th Valor Seguro
        th Valor Desconto
        th Valor Out Desp
        th Observações
    tbody
        tr(rv-each-row='dbms.movimentacoes.[object Object].data.rows')
            td {row.mov_itens_key}
            td {row.movimentacoes_key}
            td {row.items_key}
            td {row.mov_itens_status_key}
            td {row.mov_cfop_key}
            td {row.cont_centro_resultados_key}
            td {row.ncm}
            td {row.ean_gtin}
            td {row.ean_gtin_tributavel}
            td {row.un_tributavel}
            td {row.compoe_tot_mov}
            td {row.unidades_key}
            td {row.quantidade}
            td {row.valor_unitario}
            td {row.valor_total}
            td {row.valor_frete}
            td {row.valor_seguro}
            td {row.valor_desconto}
            td {row.valor_out_desp}
            td {row.observacoes}