//
    Template choose para: dbms.movimentacoes.mov_tipos_categorias
    Criado em Mon Jun 13 2016 08:54:12 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th Código
        th Categoria
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.mov_tipos_categorias_key'
        )
            td {row.mov_tipos_categorias_key}
            td {row.tipos_categoria}