//
    Template default para: dbms.financeiro.fin_lancamentos
    Criado em Sun May 29 2016 08:58:09 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='dbms.financeiro.[object Object].data.rows')
    .content
        .header {row.fin_lancamentos_key} - {row.competencia}
        .meta Keys: fin_lanc_origem_key, fin_lanc_destino_key, fin_lanc_tipos_key, fin_lanc_status_key, empresas_key, fin_contas_key, parceiros_key, contratos_key, movimentacoes_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='dbms financeiro [object Object] edit', rv-data-key='row.fin_lancamentos_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='dbms financeiro [object Object] delete', rv-data-key='row.fin_lancamentos_key')
                i.delete.icon
                | Remover
