//
    Template default para: dbms.enderecos.end_eletronicos
    Criado em Sun May 29 2016 08:57:57 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th End Eletronicos
        th End Eletronico Tipos
        th Descrição
        th Observações
    tbody
        tr(rv-each-row='dbms.enderecos.[object Object].data.rows')
            td {row.end_eletronicos_key}
            td {row.end_eletronico_tipos_key}
            td {row.descricao}
            td {row.observacoes}