//
    Template default para: dbms.movimentacoes.mov_itens_status
    Criado em Sun May 29 2016 08:58:34 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Mov Itens Status
        th Status
    tbody
        tr(rv-each-row='dbms.movimentacoes.[object Object].data.rows')
            td {row.mov_itens_status_key}
            td {row.status}