//
    Template default para: dbms.apps.app_configs
    Criado em Mon Jun 13 2016 08:54:31 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='dbms.apps.app_configs.data.rows')
    .content
        .header {row.app_configs_key} - {row.config}
        .meta Keys:  - sem dependências -
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='dbms apps app_configs edit', rv-data-key='row.app_configs_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='dbms apps app_configs delete', rv-data-key='row.app_configs_key')
                i.delete.icon
                | Remover
