//
    Template default para: dbms.apps.app_configs
    Criado em Sun May 29 2016 08:57:02 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th App Configs
        th Code
        th Config
        th Valor
        th Fields
        th Observações
    tbody
        tr(rv-each-row='dbms.apps.[object Object].data.rows')
            td {row.app_configs_key}
            td {row.code}
            td {row.config}
            td {row.valor}
            td {row.fields}
            td {row.observacoes}