//
    Template default para: dbms.contratos.contratos
    Criado em Mon Jun 13 2016 08:54:49 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='dbms.contratos.contratos.data.rows')
    .content
        .header {row.contratos_key} - {row.descricao}
        .meta Keys: contr_tipos_key, empresas_key, parceiros_key, cont_plano_contas_key, cont_centros_resultado_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='dbms contratos contratos edit', rv-data-key='row.contratos_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='dbms contratos contratos delete', rv-data-key='row.contratos_key')
                i.delete.icon
                | Remover
