//
    Template default para: dbms.rh.rh_func_habilidades_rel
    Criado em Mon Jun 13 2016 08:57:11 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='dbms.rh.rh_func_habilidades_rel.data.rows')
    .content
        .header {row.rh_funcionarios_key} - {row.dt_adquirida}
        .meta Keys: rh_funcionarios_key, rh_habilidades_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='dbms rh rh_func_habilidades_rel edit', rv-data-key='row.rh_funcionarios_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='dbms rh rh_func_habilidades_rel delete', rv-data-key='row.rh_funcionarios_key')
                i.delete.icon
                | Remover
