//
    Template default para: softlabs.movimentacoes.mov_itens_status
    Criado em Wed Apr 27 2016 18:09:13 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='data.rows')
    .content
        .header {row.mov_itens_status_key} - {row.status}
        .meta Keys:  - sem dependências -
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(rv-data-action='api.edit', rv-data-key='row.mov_itens_status_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='api.delete', rv-data-key='row.mov_itens_status_key')
                i.delete.icon
                | Remover
