//
    Template default para: dbms.empresas.emp_setores
    Criado em Mon Jun 13 2016 08:56:11 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Emp Setores
        th Empresas
        th Setor
        th Observações
        th Cont Centro Resultados
    tbody
        tr(rv-each-row='dbms.empresas.emp_setores.data.rows')
            td {row.emp_setores_key}
            td {row.empresas_key}
            td {row.setor}
            td {row.observacoes}
            td {row.cont_centro_resultados_key}