//
    Template default para: softlabs.parceiros.parc_juridicos
    Criado em Mon May 23 2016 09:16:25 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Parceiros
        th Razão Social
        th Cnpj
        th Insc Estadual
        th Insc Municipal
        th Fone Empresa
        th Email Empresa
        th Site Empresa
        th Observações
    tbody
        tr(rv-each-row='softlabs.parceiros.[object Object].data.rows')
            td {row.parceiros_key}
            td {row.razao_social}
            td {row.cnpj}
            td {row.insc_estadual}
            td {row.insc_municipal}
            td {row.fone_empresa}
            td {row.email_empresa}
            td {row.site_empresa}
            td {row.observacoes}