//
    Template default para: softlabs.parceiros.parc_juridicos
    Criado em Wed Apr 27 2016 18:13:15 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='data.rows')
    .content
        .header {row.parceiros_key} - {row.parceiros_key}
        .meta Keys:  - sem dependências -
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(rv-data-action='api.edit', rv-data-key='row.parceiros_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='api.delete', rv-data-key='row.parceiros_key')
                i.delete.icon
                | Remover
