//
    Template choose para: dbms.contabil.cont_plano_contas
    Criado em Sun May 29 2016 08:57:35 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th Cont Plano Contas
        th Cont Categorias
        th Parent
        th  Integração
        th Ativo
        th Codigo
        th Plano Conta
        th Observações
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.cont_plano_contas_key'
        )
            td {row.cont_plano_contas_key}
            td {row.cont_categorias_key}
            td {row.parent_key}
            td {row._integracao}
            td {row.ativo}
            td {row.codigo}
            td {row.plano_conta}
            td {row.observacoes}