//
    Template default para: dbms.rh.rh_func_remuneracoes
    Criado em Sun May 29 2016 08:59:15 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Rh Func Remunerações
        th Parceiros
        th Rh Cargos
        th Dt Inicio
        th Dt Encerramento
        th Valor
        th Observações
    tbody
        tr(rv-each-row='dbms.rh.[object Object].data.rows')
            td {row.rh_func_remuneracoes_key}
            td {row.parceiros_key}
            td {row.rh_cargos_key}
            td {row.dt_inicio}
            td {row.dt_encerramento}
            td {row.valor}
            td {row.observacoes}