//
    Template default para: softlabs.movimentacoes.mov_tipos_categorias
    Criado em Mon May 23 2016 09:16:00 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Mov Tipos Categorias
        th Tipos Categoria
        th Observações
    tbody
        tr(rv-each-row='softlabs.movimentacoes.[object Object].data.rows')
            td {row.mov_tipos_categorias_key}
            td {row.tipos_categoria}
            td {row.observacoes}