//
    Template default para: softlabs.enderecos.end_bairros
    Criado em Thu May 26 2016 11:09:35 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th End Bairros
        th End Cidades
        th Bairro
    tbody
        tr(rv-each-row='softlabs.enderecos.[object Object].data.rows')
            td {row.end_bairros_key}
            td {row.end_cidades_key}
            td {row.bairro}