//
    Template default para: dbms.security.sec_regras
    Criado em Sun May 29 2016 08:59:22 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Sec Regras
        th Sec Regras Categ
        th Ativo
        th Codigo
        th Regra
        th Observações
    tbody
        tr(rv-each-row='dbms.security.[object Object].data.rows')
            td {row.sec_regras_key}
            td {row.sec_regras_categ_key}
            td {row.ativo}
            td {row.codigo}
            td {row.regra}
            td {row.observacoes}