//
    Template default para: dbms.security.sec_usuarios
    Criado em Mon Jun 13 2016 08:57:24 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Sec Usuarios
        th Parceiros
        th Sec Perfis
        th Ativo
        th Auditar
        th Usuario
        th Senha
        th Nome
        th Telefone
        th Email
        th Expira Em
        th Observações
    tbody
        tr(rv-each-row='dbms.security.sec_usuarios.data.rows')
            td {row.sec_usuarios_key}
            td {row.parceiros_key}
            td {row.sec_perfis_key}
            td {row.ativo}
            td {row.auditar}
            td {row.usuario}
            td {row.senha}
            td {row.nome}
            td {row.telefone}
            td {row.email}
            td {row.expira_em}
            td {row.observacoes}