//
    Template default para: dbms.contabil.cont_impostos
    Criado em Mon Jun 13 2016 08:55:41 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='dbms.contabil.cont_impostos.data.rows')
    .content
        .header {row.cont_impostos_key} - {row.imposto}
        .meta Keys: cont_ent_arrecadadoras_key, cont_plano_contas_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='dbms contabil cont_impostos edit', rv-data-key='row.cont_impostos_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='dbms contabil cont_impostos delete', rv-data-key='row.cont_impostos_key')
                i.delete.icon
                | Remover
