//
    Template default para: dbms.contabil.cont_impostos
    Criado em Mon Jun 13 2016 08:55:41 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Cont Impostos
        th Cont Ent Arrecadadoras
        th Cont Plano Contas
        th Dia Vencimento
        th Imposto
        th Aliquota
        th Observações
    tbody
        tr(rv-each-row='dbms.contabil.cont_impostos.data.rows')
            td {row.cont_impostos_key}
            td {row.cont_ent_arrecadadoras_key}
            td {row.cont_plano_contas_key}
            td {row.dia_vencimento}
            td {row.imposto}
            td {row.aliquota}
            td {row.observacoes}