//
    Template default para: default.comments.comments_albuns_rel
    Criado em Mon May 09 2016 14:41:17 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='data.rows')
    .content
        .header {row.comments_key} - {row.}
        .meta Keys: comments_key, albuns_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(rv-data-action='api.edit', rv-data-key='row.comments_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='api.delete', rv-data-key='row.comments_key')
                i.delete.icon
                | Remover
