//
    Template default para: dreams.comments.comments_albuns_rel
    Criado em Sat May 07 2016 13:33:12 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Comments
        th Albuns
    tbody
        tr(rv-each-row='data.rows')
            td {row.comments_key}
            td {row.albuns_key}