//
    Template default para: dbms.contratos.contr_item_apontadores
    Criado em Mon Jun 13 2016 08:54:49 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='dbms.contratos.contr_item_apontadores.data.rows')
    .content
        .header {row.contr_item_apontadores_key} - {row.apontador}
        .meta Keys: item_locacao_key, contr_franquias_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='dbms contratos contr_item_apontadores edit', rv-data-key='row.contr_item_apontadores_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='dbms contratos contr_item_apontadores delete', rv-data-key='row.contr_item_apontadores_key')
                i.delete.icon
                | Remover
