//
   Created by labs on 09/06/16.

.ui.container.transition.hidden.app_configuracoes
    .ui.centered.cards
        .card(
                rv-each-mod='automod.itens'
            )
            .content
                i.left.floated.big.settings.icon
                .header
                    | {mod.label}
                .meta {mod.info}
            .ui.bottom.attached.button(
                    client='app.automod.show'
                    rv-data-index='mod._index_'
                )
                i.edit.icon
                | Acessar