//
    Template default para: softlabs.enderecos.end_paises
    Criado em Mon May 16 2016 10:46:29 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th End Paises
        th Ativo
        th Cod Siscomex
        th Cod Ibge
        th Sigla
        th Pais
        th Nacionalidade
    tbody
        tr(rv-each-row='data.rows')
            td {row.end_paises_key}
            td {row.ativo}
            td {row.cod_siscomex}
            td {row.cod_ibge}
            td {row.sigla}
            td {row.pais}
            td {row.nacionalidade}