//
    Template default para: softlabs.financeiro.fin_bancos
    Criado em Mon May 16 2016 10:43:34 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Fin Bancos
        th Banco
        th Codigo
        th Ativo
        th Observações
    tbody
        tr(rv-each-row='data.rows')
            td {row.fin_bancos_key}
            td {row.banco}
            td {row.codigo}
            td {row.ativo}
            td {row.observacoes}