//
    Template default para: softlabs.empresas.empresas
    Criado em Mon May 23 2016 09:14:47 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Empresas
        th Cont Centro Resultados
        th Matriz
        th Empresa
        th Razão Social
        th Cnpj
        th Insc Estadual
        th Insc Municipal
        th Natureza Pj
        th Fone1
        th Fone2
        th Email
        th Site
        th Observações
    tbody
        tr(rv-each-row='softlabs.empresas.[object Object].data.rows')
            td {row.empresas_key}
            td {row.cont_centro_resultados_key}
            td {row.matriz}
            td {row.empresa}
            td {row.razao_social}
            td {row.cnpj}
            td {row.insc_estadual}
            td {row.insc_municipal}
            td {row.natureza_pj}
            td {row.fone1}
            td {row.fone2}
            td {row.email}
            td {row.site}
            td {row.observacoes}