//
    Template default para: softlabs.items.item_ident_tipos
    Criado em Mon May 16 2016 10:46:43 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Item Ident Tipos
        th Ident Tipo
        th Observações
    tbody
        tr(rv-each-row='data.rows')
            td {row.item_ident_tipos_key}
            td {row.ident_tipo}
            td {row.observacoes}