//
    Template default para: dbms.items.item_categ_sub
    Criado em Sun May 29 2016 08:58:25 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Item Categ Sub
        th Item Categorias
        th Cont Centros Resultado
        th Sub Categoria
        th Observações
    tbody
        tr(rv-each-row='dbms.items.[object Object].data.rows')
            td {row.item_categ_sub_key}
            td {row.item_categorias_key}
            td {row.cont_centros_resultado_key}
            td {row.sub_categoria}
            td {row.observacoes}