//
    Template default para: dbms.enderecos.end_estados
    Criado em Sun May 29 2016 08:57:57 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th End Estados
        th End Paises
        th Cod Ibge
        th Uf
        th Estado
    tbody
        tr(rv-each-row='dbms.enderecos.[object Object].data.rows')
            td {row.end_estados_key}
            td {row.end_paises_key}
            td {row.cod_ibge}
            td {row.uf}
            td {row.estado}