//
    Template default para: softlabs.empresas.emp_clientes_rel
    Criado em Thu May 26 2016 11:09:24 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='softlabs.empresas.[object Object].data.rows')
    .content
        .header {row.empresas_key} - {row.ativo}
        .meta Keys: empresas_key, emp_clientes_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='softlabs empresas [object Object] edit', rv-data-key='row.empresas_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='softlabs empresas [object Object] delete', rv-data-key='row.empresas_key')
                i.delete.icon
                | Remover
