//
    Template choose para: softlabs.empresas.emp_clientes_rel
    Criado em Mon May 23 2016 09:14:47 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th Empresas
        th Emp Clientes
        th Ativo
        th Dt Inicio
        th Ult Compra
        th Limite Credito
        th Limite Compromisso
        th Observações
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.empresas_key'
        )
            td {row.empresas_key}
            td {row.emp_clientes_key}
            td {row.ativo}
            td {row.dt_inicio}
            td {row.ult_compra}
            td {row.limite_credito}
            td {row.limite_compromisso}
            td {row.observacoes}