//
    Template default para: dbms.rh.rh_habilidades
    Criado em Mon Jun 13 2016 08:57:11 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='dbms.rh.rh_habilidades.data.rows')
    .content
        .header {row.rh_habilidades_key} - {row.habilidade}
        .meta Keys:  - sem dependências -
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='dbms rh rh_habilidades edit', rv-data-key='row.rh_habilidades_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='dbms rh rh_habilidades delete', rv-data-key='row.rh_habilidades_key')
                i.delete.icon
                | Remover
