//
    Template default para: dbms.contabil.cont_dre_plano_contas_rel
    Criado em Mon Jun 13 2016 08:55:41 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Cont Dre Config
        th Cont Plano Contas
        th Ordem
        th Operação
    tbody
        tr(rv-each-row='dbms.contabil.cont_dre_plano_contas_rel.data.rows')
            td {row.cont_dre_config_key}
            td {row.cont_plano_contas_key}
            td {row.ordem}
            td {row.operacao}