//
    Template choose para: softlabs.app.app_autorizadores
    Criado em Thu May 26 2016 11:08:50 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th App Autorizadores
        th Ativo
        th Autorizadores
        th Observações
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.app_autorizadores_key'
        )
            td {row.app_autorizadores_key}
            td {row.ativo}
            td {row.autorizadores}
            td {row.observacoes}