//
    Template default para: dbms.enderecos.end_cidades
    Criado em Sun May 29 2016 08:57:57 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th End Cidades
        th End Estados
        th Ibge
        th Cidade
    tbody
        tr(rv-each-row='dbms.enderecos.[object Object].data.rows')
            td {row.end_cidades_key}
            td {row.end_estados_key}
            td {row.ibge}
            td {row.cidade}