//
    Template default para: dbms.rh.rh_cargos_funcionarios_rel
    Criado em Sun May 29 2016 08:59:15 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='dbms.rh.[object Object].data.rows')
    .content
        .header {row.parceiros_key} - {row.dt_inicio}
        .meta Keys: parceiros_key, rh_cargos_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='dbms rh [object Object] edit', rv-data-key='row.parceiros_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='dbms rh [object Object] delete', rv-data-key='row.parceiros_key')
                i.delete.icon
                | Remover
