//
    Template default para: softlabs.contabil.cont_ent_arrecadadoras
    Criado em Mon May 23 2016 09:14:17 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='softlabs.contabil.[object Object].data.rows')
    .content
        .header {row.cont_ent_arrecadadoras_key} - {row.cont_ent_arrecadadoras_key}
        .meta Keys: parceiros_key, cont_esfera_governo_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='softlabs contabil [object Object] edit', rv-data-key='row.cont_ent_arrecadadoras_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='softlabs contabil [object Object] delete', rv-data-key='row.cont_ent_arrecadadoras_key')
                i.delete.icon
                | Remover
