//
    Template choose para: softlabs.contabil.cont_ent_arrecadadoras
    Criado em Mon May 23 2016 09:14:17 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th Cont Ent Arrecadadoras
        th Parceiros
        th Cont Esfera Governo
        th Ativo
        th Observações
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.cont_ent_arrecadadoras_key'
        )
            td {row.cont_ent_arrecadadoras_key}
            td {row.parceiros_key}
            td {row.cont_esfera_governo_key}
            td {row.ativo}
            td {row.observacoes}