//
    Template default para: softlabs.contabil.cont_ent_arrecadadoras
    Criado em Thu May 26 2016 11:09:09 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Cont Ent Arrecadadoras
        th Parceiros
        th Cont Esfera Governo
        th Ativo
        th Observações
    tbody
        tr(rv-each-row='softlabs.contabil.[object Object].data.rows')
            td {row.cont_ent_arrecadadoras_key}
            td {row.parceiros_key}
            td {row.cont_esfera_governo_key}
            td {row.ativo}
            td {row.observacoes}