//
    Template default para: dbms.orcamentos.orc_valores
    Criado em Mon Jun 13 2016 08:56:52 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='dbms.orcamentos.orc_valores.data.rows')
    .content
        .header {row.orc_periodos_key} - {row.valor}
        .meta Keys: sec_alterado_por_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='dbms orcamentos orc_valores edit', rv-data-key='row.orc_periodos_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='dbms orcamentos orc_valores delete', rv-data-key='row.orc_periodos_key')
                i.delete.icon
                | Remover
