//
    Template default para: dbms.orcamentos.orc_valores
    Criado em Mon Jun 13 2016 08:56:52 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Orc Periodos
        th Cont Centros Resultado
        th Cont Plano Contas
        th Sec Alterado Por
        th Dt Cad
        th Valor
        th Observações
    tbody
        tr(rv-each-row='dbms.orcamentos.orc_valores.data.rows')
            td {row.orc_periodos_key}
            td {row.cont_centros_resultado_key}
            td {row.cont_plano_contas_key}
            td {row.sec_alterado_por_key}
            td {row.dt_cad}
            td {row.valor}
            td {row.observacoes}