//
   Created by labs on 11/05/16.

include ../../templates/seletor
include ../../templates/periodo
include ../../templates/popup_form
include ../../templates/list_financeiro

.ui.container.transition.hidden.app-areceber
    .ui.fluid.card
        .content

            // Menu Agrupamento
            +seletor('Agrupar por...', 'dbms.financeiro.fin_areceber.pivotOpts')

            // Menu Listagem / Chart
            +seletor('Visualizar...', 'dbms.financeiro.fin_areceber.displayOpts')


            // Área de trabalho
            .header Recebimentos Previstos
            .meta
                +periodo('dbms.financeiro.fin_areceber')

            .description

                // Gráfico
                canvas.transition.hidden#chart_areceber

                // Listagem
                +listFinanceiro(true)

        // Footer
        .extra.content
            span.right.floated.app-receita-footer-sum
                | Total à Receber: R$ {dbms.financeiro.fin_areceber.data.group._stats.sum.valor_bruto | money}


    // Form popup de edição teste labs
    +popupForm(
        'dbms financeiro fin_areceber',
        'Lançamentos à Receber'
    )

