//
    Template default para: softlabs.orcamentos.orc_itens
    Criado em Thu May 26 2016 11:10:12 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='softlabs.orcamentos.[object Object].data.rows')
    .content
        .header {row.orc_itens_key} - {row.orc_itens_key}
        .meta Keys: orcamentos_key, cont_centros_resultado_key, cont_plano_contas_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='softlabs orcamentos [object Object] edit', rv-data-key='row.orc_itens_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='softlabs orcamentos [object Object] delete', rv-data-key='row.orc_itens_key')
                i.delete.icon
                | Remover
