//
    Template default para: softlabs.orcamentos.orc_itens
    Criado em Wed Apr 27 2016 18:13:07 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='data.rows')
    .content
        .header {row.orc_itens_key} - {row.orc_itens_key}
        .meta Keys: orcamentos_key, cont_centros_resultado_key, cont_plano_contas_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(rv-data-action='api.edit', rv-data-key='row.orc_itens_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='api.delete', rv-data-key='row.orc_itens_key')
                i.delete.icon
                | Remover
