//
    Template default para: dbms.items.item_plano_reposicao
    Criado em Mon Jun 13 2016 08:56:39 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='dbms.items.item_plano_reposicao.data.rows')
    .content
        .header {row.item_plano_reposicao_key} - {row.descricao}
        .meta Keys:  - sem dependências -
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='dbms items item_plano_reposicao edit', rv-data-key='row.item_plano_reposicao_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='dbms items item_plano_reposicao delete', rv-data-key='row.item_plano_reposicao_key')
                i.delete.icon
                | Remover
