//
    Template default para: softlabs.contabil.cont_esfera_governo
    Criado em Mon May 16 2016 10:44:44 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Cont Esfera Governo
        th Esfera
    tbody
        tr(rv-each-row='data.rows')
            td {row.cont_esfera_governo_key}
            td {row.esfera}