//
    Template default para: softlabs.contabil.cont_esfera_governo
    Criado em Wed Apr 27 2016 18:11:58 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='data.rows')
    .content
        .header {row.cont_esfera_governo_key} - {row.esfera}
        .meta Keys:  - sem dependências -
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(rv-data-action='api.edit', rv-data-key='row.cont_esfera_governo_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='api.delete', rv-data-key='row.cont_esfera_governo_key')
                i.delete.icon
                | Remover
