//
    Template default para: softlabs.items.item_servicos
    Criado em Thu May 26 2016 11:09:57 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Item Servicos
        th Items
        th Servico
        th Custo Hora
        th Observações
    tbody
        tr(rv-each-row='softlabs.items.[object Object].data.rows')
            td {row.item_servicos_key}
            td {row.items_key}
            td {row.servico}
            td {row.custo_hora}
            td {row.observacoes}