//
    Template default para: softlabs.items.item_servicos
    Criado em Mon May 16 2016 10:46:43 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Item Servicos
        th Items
        th Servico
        th Custo Hora
        th Observações
    tbody
        tr(rv-each-row='data.rows')
            td {row.item_servicos_key}
            td {row.items_key}
            td {row.servico}
            td {row.custo_hora}
            td {row.observacoes}