//
    Template default para: dbms.empresas.emp_fin_contas_rel
    Criado em Mon Jun 13 2016 08:56:11 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Empresas
        th Fin Contas
        th Padrão
    tbody
        tr(rv-each-row='dbms.empresas.emp_fin_contas_rel.data.rows')
            td {row.empresas_key}
            td {row.fin_contas_key}
            td {row.padrao}