//
    Template default para: softlabs.app.app_logs
    Criado em Thu May 26 2016 11:08:50 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th App Logs
        th App Logs Tipos
        th Sec Usuarios
        th Empresas
        th Dt Log
        th Log
        th Modulo
        th Cliente
        th Ip
        th Observações
    tbody
        tr(rv-each-row='softlabs.app.[object Object].data.rows')
            td {row.app_logs_key}
            td {row.app_logs_tipos_key}
            td {row.sec_usuarios_key}
            td {row.empresas_key}
            td {row.dt_log}
            td {row.log}
            td {row.modulo}
            td {row.cliente}
            td {row.ip}
            td {row.observacoes}