//
    Template default para: dbms.contabil.cont_ent_arrecadadoras
    Criado em Mon Jun 13 2016 08:55:41 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='dbms.contabil.cont_ent_arrecadadoras.data.rows')
    .content
        .header {row.cont_ent_arrecadadoras_key} - {row.cont_ent_arrecadadoras_key}
        .meta Keys: parceiros_key, cont_esfera_governo_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='dbms contabil cont_ent_arrecadadoras edit', rv-data-key='row.cont_ent_arrecadadoras_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='dbms contabil cont_ent_arrecadadoras delete', rv-data-key='row.cont_ent_arrecadadoras_key')
                i.delete.icon
                | Remover
