//
    Template default para: dbms.contabil.cont_ent_arrecadadoras
    Criado em Mon Jun 13 2016 08:55:41 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Cont Ent Arrecadadoras
        th Parceiros
        th Cont Esfera Governo
        th Ativo
        th Observações
    tbody
        tr(rv-each-row='dbms.contabil.cont_ent_arrecadadoras.data.rows')
            td {row.cont_ent_arrecadadoras_key}
            td {row.parceiros_key}
            td {row.cont_esfera_governo_key}
            td {row.ativo}
            td {row.observacoes}