//
    Template choose para: softlabs.producao.prod_venda_categorias
    Criado em Mon May 23 2016 09:16:38 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th Prod Venda Categorias
        th Cont Plano Contas
        th Categoria
        th Ativo
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.prod_venda_categorias_key'
        )
            td {row.prod_venda_categorias_key}
            td {row.cont_plano_contas_key}
            td {row.categoria}
            td {row.ativo}