//
    Template default para: dbms.movimentacoes.mov_itens_impostos_rel
    Criado em Sun May 29 2016 08:58:34 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Mov Itens
        th Impostos
        th Aliquota
        th Base Tributada
        th Base Isenta
        th Observações
    tbody
        tr(rv-each-row='dbms.movimentacoes.[object Object].data.rows')
            td {row.mov_itens_key}
            td {row.impostos_key}
            td {row.aliquota}
            td {row.base_tributada}
            td {row.base_isenta}
            td {row.observacoes}