//
    Template default para: softlabs.items.item_fabricantes
    Criado em Thu May 26 2016 11:09:57 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Item Fabricantes
        th Fabricante
        th Observações
    tbody
        tr(rv-each-row='softlabs.items.[object Object].data.rows')
            td {row.item_fabricantes_key}
            td {row.fabricante}
            td {row.observacoes}