//
    Template default para: softlabs.items.item_fabricantes
    Criado em Mon May 16 2016 10:46:43 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Item Fabricantes
        th Fabricante
        th Observações
    tbody
        tr(rv-each-row='data.rows')
            td {row.item_fabricantes_key}
            td {row.fabricante}
            td {row.observacoes}