//
    Template choose para: dbms.enderecos.end_estoques_rel
    Criado em Sun May 29 2016 08:57:57 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th Enderecos
        th Estoques
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.enderecos_key'
        )
            td {row.enderecos_key}
            td {row.estoques_key}