//
    Template default para: softlabs.items.item_identificado
    Criado em Thu May 26 2016 11:09:57 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Item Identificado
        th Items
        th Item Ident Tipos
        th Item Lotes
        th Identificação
        th Num Serie
        th Num Fabricante
        th Num Patrimonio
        th Observações
    tbody
        tr(rv-each-row='softlabs.items.[object Object].data.rows')
            td {row.item_identificado_key}
            td {row.items_key}
            td {row.item_ident_tipos_key}
            td {row.item_lotes_key}
            td {row.identificacao}
            td {row.num_serie}
            td {row.num_fabricante}
            td {row.num_patrimonio}
            td {row.observacoes}