//
    Template default para: softlabs.parceiros.parc_end_eletronicos_rel
    Criado em Thu May 26 2016 11:10:21 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Parceiros
        th End Eletronicos
    tbody
        tr(rv-each-row='softlabs.parceiros.[object Object].data.rows')
            td {row.parceiros_key}
            td {row.end_eletronicos_key}