//
    Template default para: softlabs.app.app_logs_tipos
    Criado em Thu May 26 2016 11:08:50 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th App Logs Tipos
        th Log Tipo
    tbody
        tr(rv-each-row='softlabs.app.[object Object].data.rows')
            td {row.app_logs_tipos_key}
            td {row.log_tipo}