//
    Template default para: dbms.apps.app_logs
    Criado em Sun May 29 2016 08:57:02 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th App Logs
        th App Logs Tipos
        th Sec Usuarios
        th Empresas
        th Dt Log
        th Log
        th Modulo
        th Cliente
        th Ip
        th Observações
    tbody
        tr(rv-each-row='dbms.apps.[object Object].data.rows')
            td {row.app_logs_key}
            td {row.app_logs_tipos_key}
            td {row.sec_usuarios_key}
            td {row.empresas_key}
            td {row.dt_log}
            td {row.log}
            td {row.modulo}
            td {row.cliente}
            td {row.ip}
            td {row.observacoes}