//
    Template default para: softlabs.producao.prod_cod_tributacao
    Criado em Mon May 23 2016 09:16:38 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Prod Cod Tributação
        th Cod Tributação
        th Tributação
    tbody
        tr(rv-each-row='softlabs.producao.[object Object].data.rows')
            td {row.prod_cod_tributacao_key}
            td {row.cod_tributacao}
            td {row.tributacao}