//
    Template default para: dbms.contabil.cont_diario_contas
    Criado em Mon Jun 13 2016 08:55:41 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Cont Diario Contas
        th Empresas
        th Cont Plano Contas
        th Movimentações
        th Fin Lancamentos
        th Fin Baixas
        th Dt Diario
        th Historico
        th Credito
        th Debito
        th Ref1
        th Ref2
        th Ref3
        th Observações
    tbody
        tr(rv-each-row='dbms.contabil.cont_diario_contas.data.rows')
            td {row.cont_diario_contas_key}
            td {row.empresas_key}
            td {row.cont_plano_contas_key}
            td {row.movimentacoes_key}
            td {row.fin_lancamentos_key}
            td {row.fin_baixas_key}
            td {row.dt_diario}
            td {row.historico}
            td {row.credito}
            td {row.debito}
            td {row.ref1}
            td {row.ref2}
            td {row.ref3}
            td {row.observacoes}