//
    Template default para: softlabs.app.app_aut_regras
    Criado em Thu May 26 2016 11:08:50 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='softlabs.app.[object Object].data.rows')
    .content
        .header {row.app_aut_regras_key} - {row.regra}
        .meta Keys: app_autorizacoes_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='softlabs app [object Object] edit', rv-data-key='row.app_aut_regras_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='softlabs app [object Object] delete', rv-data-key='row.app_aut_regras_key')
                i.delete.icon
                | Remover
