//
    Template default para: softlabs.app.app_aut_regras
    Criado em Thu May 26 2016 11:08:50 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th App Aut Regras
        th App Autorizações
        th Regra
        th Min Autorizações
        th Evento
        th Codigo
        th Observações
    tbody
        tr(rv-each-row='softlabs.app.[object Object].data.rows')
            td {row.app_aut_regras_key}
            td {row.app_autorizacoes_key}
            td {row.regra}
            td {row.min_autorizacoes}
            td {row.evento}
            td {row.codigo}
            td {row.observacoes}