//
    Template choose para: softlabs.app.app_configs
    Criado em Mon May 23 2016 09:13:21 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th App Configs
        th Code
        th Config
        th Valor
        th Fields
        th Observações
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.app_configs_key'
        )
            td {row.app_configs_key}
            td {row.code}
            td {row.config}
            td {row.valor}
            td {row.fields}
            td {row.observacoes}