//
    Template choose para: dbms.parceiros.parc_fisicos
    Criado em Sun May 29 2016 08:58:53 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th Parceiros
        th Apelido
        th Dia Nasc
        th Mes Nasc
        th Ano Nasc
        th Rg
        th Cpf
        th Sexo
        th Est Civil
        th Profissão
        th Naturalidade
        th Observações
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.parceiros_key'
        )
            td {row.parceiros_key}
            td {row.apelido}
            td {row.dia_nasc}
            td {row.mes_nasc}
            td {row.ano_nasc}
            td {row.rg}
            td {row.cpf}
            td {row.sexo}
            td {row.est_civil}
            td {row.profissao}
            td {row.naturalidade}
            td {row.observacoes}