//
    Template default para: default.dreams.dreams
    Criado em Mon May 09 2016 14:41:08 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='data.rows')
    .content
        .header {row.dreams_key} - {row.dreams_key}
        .meta Keys: users_key, owner_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(rv-data-action='api.edit', rv-data-key='row.dreams_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='api.delete', rv-data-key='row.dreams_key')
                i.delete.icon
                | Remover
