//
    Template default para: softlabs.financeiro.fin_baixas
    Criado em Mon May 23 2016 09:15:29 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='softlabs.financeiro.[object Object].data.rows')
    .content
        .header {row.fin_baixas_key} - {row.fin_baixas_key}
        .meta Keys: fin_lancamentos_key, fin_contas_key, fin_especies_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='softlabs financeiro [object Object] edit', rv-data-key='row.fin_baixas_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='softlabs financeiro [object Object] delete', rv-data-key='row.fin_baixas_key')
                i.delete.icon
                | Remover
