//
    Template default para: softlabs.financeiro.fin_baixas
    Criado em Thu May 26 2016 11:09:45 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Fin Baixas
        th Fin Lancamentos
        th Fin Contas
        th Fin Especies
        th Cancelado
        th Dt Baixa
        th Historico
        th Ref Bancaria
        th Valor
        th Vl Multa
        th Vl Juros
        th Chq Numero
        th Chq Emitente
        th Chq Contato
        th Chq Banco
        th Chq Agencia
        th Chq Conta
        th Chq Bom Para
        th Cc Numero
        th Cc Nsu
        th Cc Taxa
        th Bol Numero
        th Bol Cod Barras
        th Observações
    tbody
        tr(rv-each-row='softlabs.financeiro.[object Object].data.rows')
            td {row.fin_baixas_key}
            td {row.fin_lancamentos_key}
            td {row.fin_contas_key}
            td {row.fin_especies_key}
            td {row.cancelado}
            td {row.dt_baixa}
            td {row.historico}
            td {row.ref_bancaria}
            td {row.valor}
            td {row.vl_multa}
            td {row.vl_juros}
            td {row.chq_numero}
            td {row.chq_emitente}
            td {row.chq_contato}
            td {row.chq_banco}
            td {row.chq_agencia}
            td {row.chq_conta}
            td {row.chq_bom_para}
            td {row.cc_numero}
            td {row.cc_nsu}
            td {row.cc_taxa}
            td {row.bol_numero}
            td {row.bol_cod_barras}
            td {row.observacoes}