//
    Template default para: softlabs.empresas.emp_depositos_tipos
    Criado em Wed Apr 27 2016 18:12:23 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='data.rows')
    .content
        .header {row.emp_depositos_key} - {row.tipo}
        .meta Keys:  - sem dependências -
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(rv-data-action='api.edit', rv-data-key='row.emp_depositos_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='api.delete', rv-data-key='row.emp_depositos_key')
                i.delete.icon
                | Remover
