//
    Template default para: mlanna.veiculos.veic_marcas
    Criado em Wed May 11 2016 11:19:23 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='data.rows')
    .content
        .header {row.veic_marcas_key} - {row.veic_marcas_key}
        .meta Keys:  - sem dependências -
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(rv-data-action='api.edit', rv-data-key='row.veic_marcas_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='api.delete', rv-data-key='row.veic_marcas_key')
                i.delete.icon
                | Remover
