//
    Template default para: softlabs.rh.rh_folhas_ponto
    Criado em Mon May 23 2016 09:16:46 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Rh Folhas Ponto
        th Parceiros
        th Ponto
        th Hr Entrada
        th Hr Almoco Saida
        th Hr Almoco Retorno
        th Hr Saida
        th Observações
    tbody
        tr(rv-each-row='softlabs.rh.[object Object].data.rows')
            td {row.rh_folhas_ponto_key}
            td {row.parceiros_key}
            td {row.ponto}
            td {row.hr_entrada}
            td {row.hr_almoco_saida}
            td {row.hr_almoco_retorno}
            td {row.hr_saida}
            td {row.observacoes}