//
    Template default para: softlabs.security.sec_regras_categ
    Criado em Thu May 26 2016 11:10:38 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Sec Regras Categ
        th Categoria
        th Observações
    tbody
        tr(rv-each-row='softlabs.security.[object Object].data.rows')
            td {row.sec_regras_categ_key}
            td {row.categoria}
            td {row.observacoes}