
.ui.content.segment

    .ui.container.transition.hidden.app-contas
        include contas

    .ui.container.transition.hidden.app-clientes
        include clientes

    .ui.container.transition.hidden.app-clientes_detalhes
        include clientes_detalhes

    .ui.container.transition.hidden.app-fornecedores
        include fornecedores

    .ui.container.transition.hidden.app-fornecedores_detalhes
        include fornecedores_detalhes