h3.ui.dividing.header Detalhe do Cliente
.ui.horizontal.segments
    .ui.segment
        h4.ui.dividing.header Dados Principais
        .ui.items
            .item
                a.ui.small.image
                    img(
                        src='http://semantic-ui.com/images/wireframe/image.png'
                    )
                .content
                    a.header {dbms.empresas.emp_clientes.data.row.parceiro}
                    .description
                        p
                            label Tipo de Pessoa:
                                label(rv-show='dbms.empresas.emp_clientes.data.row.is_juridico') Jurídica
                                label(rv-show='dbms.empresas.emp_clientes.data.row.is_fisico') Física
                            br
                            label(rv-show='dbms.empresas.emp_clientes.data.row.is_fisico') CPF: {dbms.empresas.emp_clientes.data.row.cpf}
                            label(rv-show='dbms.empresas.emp_clientes.data.row.is_juridico') CNPJ: {dbms.empresas.emp_clientes.data.row.cnpj}
                            br

                            | Observações: {dbms.empresas.emp_clientes.data.row.observacoes}

    .ui.segment
        .ui.segment
            h4.ui.dividing.header Endereços
            .ui.items(rv-each-endereco='dbms.empresas.emp_clientes.enderecos.rows')
                .item
                    .content
                        a.meta {endereco.end_tipo}
                        .description
                            p
                                | {endereco.endereco}, {endereco.numero}, {endereco.complemento}, {endereco.bairro}
                                button.ui.right.floated.button
                                    | Remover
                                buttton.ui.right.floated.primary.button(server='dbms enderecos enderecos edit', rv-row-key='endereco.enderecos_key')
                                    | Editar
        .ui.segment
            h4.ui.dividing.header Dados de Contato
            .ui.items(rv-each-eletronico='dbms.empresas.emp_clientes.enderecos_eletronicos.rows')
                .item
                    .content
                        a.meta {eletronico.tipo}
                        .description
                            p
                                | {eletronico.descricao}
.ui.segment
    h4.ui.dividing.header Movimentações do Cliente
    label Movimentação 1
    br
    label Movimentação 2
    br
    label Movimentação 3
