//
   Created by labs on 11/05/16.

.ui.stackable.grid
    .six.wide.column
        h4.ui.dividing.header Contas Cadastradas
        .ui.animated.selection.list
            .item(
                rv-each-conta='dbms.financeiro.fin_contas.data.rows'
                rv-row-key='conta.fin_contas_key'
                server='dbms financeiro fin_contas edit'
            )
                img.ui.avatar.image(rv-src="conta.codigo | replace '_imgs/_logos/bancos/%s.png'")
                .content
                    .header Conta {conta.conta} / {conta.fin_bancos_key}
                    .description {conta.banco} / Ag: {conta.agencia}

    .ten.wide.column
        .ui.segment
            h2.ui.header
                i.payment.icon
                .content Contas Bancárias
                .sub.header Gestão das contas financeiras
            .content.dbms.financeiro.fin_contas-form
