h3.ui.dividing.header Detalhe do Fornecedor
.ui.horizontal.segments
    .ui.segment
        h4.ui.dividing.header Dados Principais
        .ui.items
            .item
                a.ui.small.image
                    img(
                        src='http://semantic-ui.com/images/wireframe/image.png'
                    )
                .content
                    a.header {dbms.empresas.emp_fornecedores.data.row.parceiro}
                    .description
                        p
                            label Tipo de Pessoa:
                                label(rv-show='dbms.empresas.emp_fornecedores.data.row.is_juridico') Jurídica
                                label(rv-show='dbms.empresas.emp_fornecedores.data.row.is_fisico') Física
                            br
                            label(rv-show='dbms.empresas.emp_fornecedores.data.row.is_fisico') CPF: {dbms.empresas.emp_fornecedores.data.row.cpf}
                            label(rv-show='dbms.empresas.emp_fornecedores.data.row.is_juridico') CNPJ: {dbms.empresas.emp_fornecedores.data.row.cnpj}
                            br

                            | Observações: {dbms.empresas.emp_fornecedores.data.row.observacoes}

    .ui.segment
        .ui.segment
            h4.ui.dividing.header Endereços Físicos
            .ui.items(rv-each-endereco='dbms.empresas.emp_fornecedores.enderecos.rows')
                .item
                    .content
                        a.meta {endereco.end_tipo}
                        .description
                            p
                                | {endereco.endereco}, {endereco.numero}, {endereco.complemento}, {endereco.bairro}
                                button.ui.right.floated.button
                                    | Remover
                                buttton.ui.right.floated.primary.button(server='dbms enderecos enderecos edit', rv-row-key='endereco.enderecos_key')
                                    | Editar
        .ui.segment
            h4.ui.dividing.header Endereços Eletrônicos
            .ui.items(rv-each-eletronico='dbms.empresas.emp_fornecedores.enderecos_eletronicos.rows')
                .item
                    .content
                        a.meta {eletronico.tipo}
                        .description
                            p
                                | {eletronico.descricao}

.ui.segment
    h4.ui.dividing.header Movimentações do Cliente
    label Movimentação 1
    br
    label Movimentação 2
    br
    label Movimentação 3

// Form popup de edição
.ui.fornecedor_endereco-form

    // Header
    .ui.header
        i.big.browser.icon
        .content
            | Dados do Endereço
            .sub.header Endereço

    // Form
    div.content.dbms.enderecos.enderecos-form

    // Botões
    div.actions
        div.ui.green.button.ok(
        server='dbms enderecos enderecos save',
        ) Salvar Alterações
        div.ui.orange.button.cancel Cancelar