h3.ui.dividing.header Detalhe do Fornecedor
.ui.horizontal.segments
    .ui.segment
        h4.ui.dividing.header Dados Principais
        .ui.items
            .item
                a.ui.small.image
                    img(
                        src='http://semantic-ui.com/images/wireframe/image.png'
                    )
                .content
                    a.header {dbms.empresas.emp_fornecedores.data.row.parceiro}
                    .description
                        p
                            label Tipo de Pessoa:
                                label(rv-if='dbms.empresas.emp_fornecedores.data.row.juridico') Jurídica
                                label(rv-unless='dbms.empresas.emp_fornecedores.data.row.juridico') Física
                            br
                            label(rv-if='dbms.empresas.emp_fornecedores.data.row.juridico') CPF: {dbms.empresas.emp_fornecedores.data.row.cpf}
                            label(rv-unless='dbms.empresas.emp_fornecedores.data.row.juridico') CNPJ: {dbms.empresas.emp_fornecedores.data.row.cnpj}
                            br

                            | Observações: {dbms.empresas.emp_fornecedores.data.row.observacoes}

    .ui.segment
        .ui.segment
            h4.ui.dividing.header Endereços
            .ui.items(rv-each-endereco='dbms.empresas.emp_fornecedores.enderecos.rows')
                .item
                    .content
                        a.meta {endereco.end_tipo}
                        .description
                            p
                                | {endereco.endereco}, {endereco.numero}, {endereco.complemento}, {endereco.bairro}, BH, MG
        .ui.segment
            h4.ui.dividing.header Dados de Contato
            .ui.items(rv-each-eletronico='dbms.empresas.emp_fornecedores.enderecos_eletronicos.rows')
                .item
                    .content
                        a.meta {eletronico.tipo}
                        .description
                            p
                                | {eletronico.descricao}
.ui.segment
    h4.ui.dividing.header Movimentações do Cliente
    label Movimentação 1
    br
    label Movimentação 2
    br
    label Movimentação 3