//
    Template default para: dbms.producao.prod_baixa_tipos
    Criado em Sun May 29 2016 08:59:08 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Prod Baixa Tipos
        th Tipo Baixa
    tbody
        tr(rv-each-row='dbms.producao.[object Object].data.rows')
            td {row.prod_baixa_tipos_key}
            td {row.tipo_baixa}