//
    Template default para: dbms.contabil.cont_determinacao_rel
    Criado em Mon Jun 13 2016 08:55:41 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='dbms.contabil.cont_determinacao_rel.data.rows')
    .content
        .header {row.contabil_key} - {row.}
        .meta Keys: contabil_key, cont_determinacao_key, empresas_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='dbms contabil cont_determinacao_rel edit', rv-data-key='row.contabil_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='dbms contabil cont_determinacao_rel delete', rv-data-key='row.contabil_key')
                i.delete.icon
                | Remover
