//
    Template choose para: dbms.producao.prod_cod_tributacao
    Criado em Sun May 29 2016 08:59:08 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th Prod Cod Tributação
        th Cod Tributação
        th Tributação
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.prod_cod_tributacao_key'
        )
            td {row.prod_cod_tributacao_key}
            td {row.cod_tributacao}
            td {row.tributacao}