//
    Template default para: dbms.contratos.contr_franquias
    Criado em Mon Jun 13 2016 08:54:49 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Contr Franquias
        th Descrição
        th Periodo
        th Tipo Periodo
        th Observações
    tbody
        tr(rv-each-row='dbms.contratos.contr_franquias.data.rows')
            td {row.contr_franquias_key}
            td {row.descricao}
            td {row.periodo}
            td {row.tipo_periodo}
            td {row.observacoes}