//
    Template choose para: dbms.contabil.cont_historicos
    Criado em Tue May 31 2016 14:32:48 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th Categoria do Lançamento
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.cont_historicos_key'
        )
            td {row.historico}