//
    Template default para: softlabs.items.item_categorias
    Criado em Thu May 26 2016 11:09:57 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Item Categorias
        th Gera Cmv
        th Categoria
        th Observações
        th Cont Centros Resultado
    tbody
        tr(rv-each-row='softlabs.items.[object Object].data.rows')
            td {row.item_categorias_key}
            td {row.gera_cmv}
            td {row.categoria}
            td {row.observacoes}
            td {row.cont_centros_resultado_key}