//
    Template default para: softlabs.contabil.cont_dre_config
    Criado em Mon May 16 2016 10:44:44 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Cont Dre Config
        th Ordem
        th Agrupador
        th Observações
    tbody
        tr(rv-each-row='data.rows')
            td {row.cont_dre_config_key}
            td {row.ordem}
            td {row.agrupador}
            td {row.observacoes}