/* Estilos globais do app server */


/***** Semantic UI overrides *****/

.accordion>.ident  {
    padding: 2px !important;
}
.accordion>.ident>.content {
    padding: 0px 0px 5px 20px !important;
    margin-top: -14px !important;
}
.accordion>.ident>.title {
    padding: 0px 0px 0px 0px !important;
    margin-top: -1px !important;
}



/***** Helpers de borda *****/

.brdl{
    border: 1px dotted lime !important;
}
.brdr{
    border: 1px dotted red !important;
}
.brdb{
    border: 1px dotted blue !important;
}
