//
    Template default para: softlabs.producao.prod_tabelas
    Criado em Mon May 23 2016 09:16:38 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Prod Tabelas
        th Ativo
        th Tabela
        th Observações
    tbody
        tr(rv-each-row='softlabs.producao.[object Object].data.rows')
            td {row.prod_tabelas_key}
            td {row.ativo}
            td {row.tabela}
            td {row.observacoes}