//
    Template choose para: softlabs.items.item_plano_reposicao
    Criado em Thu May 26 2016 11:09:57 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th Item Plano Reposição
        th Descrição
        th Tipo Intervalo
        th Intervalo
        th Dia
        th Quantidade
        th Observações
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.item_plano_reposicao_key'
        )
            td {row.item_plano_reposicao_key}
            td {row.descricao}
            td {row.tipo_intervalo}
            td {row.intervalo}
            td {row.dia}
            td {row.quantidade}
            td {row.observacoes}