//
    Template choose para: dbms.items.item_ident_tipos
    Criado em Mon Jun 13 2016 08:56:39 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th Item Ident Tipos
        th Ident Tipo
        th Observações
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.item_ident_tipos_key'
        )
            td {row.item_ident_tipos_key}
            td {row.ident_tipo}
            td {row.observacoes}