//
    Template choose para: softlabs.security.sec_perfis_regras
    Criado em Mon May 23 2016 09:16:55 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th Sec Perfis
        th Sec Regras
        th Nivel
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.sec_perfis_key'
        )
            td {row.sec_perfis_key}
            td {row.sec_regras_key}
            td {row.nivel}