//
    Template default para: softlabs.movimentacoes.mov_cfop
    Criado em Mon May 23 2016 09:16:00 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Mov Cfop
        th Cfop
        th Descrição
        th Tipo
        th Observações
    tbody
        tr(rv-each-row='softlabs.movimentacoes.[object Object].data.rows')
            td {row.mov_cfop_key}
            td {row.cfop}
            td {row.descricao}
            td {row.tipo}
            td {row.observacoes}