//
    Template default para: softlabs.contratos.contr_item_leituras
    Criado em Mon May 16 2016 10:44:55 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Contr Item Leituras
        th Dt Leitura
        th Leitura
        th Observações
        th Contr Item Apontadores
    tbody
        tr(rv-each-row='data.rows')
            td {row.contr_item_leituras_key}
            td {row.dt_leitura}
            td {row.leitura}
            td {row.observacoes}
            td {row.contr_item_apontadores_key}