//
    Template default para: dbms.empresas.emp_depositos_tipos
    Criado em Mon Jun 13 2016 08:56:11 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Emp Depositos
        th Tipo
    tbody
        tr(rv-each-row='dbms.empresas.emp_depositos_tipos.data.rows')
            td {row.emp_depositos_key}
            td {row.tipo}