//
    Template default para: dbms.empresas.emp_depositos_tipos
    Criado em Sun May 29 2016 08:57:48 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Emp Depositos
        th Tipo
    tbody
        tr(rv-each-row='dbms.empresas.[object Object].data.rows')
            td {row.emp_depositos_key}
            td {row.tipo}