//
    Template default para: dbms.apps.app_autorizadores
    Criado em Mon Jun 13 2016 08:54:31 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th App Autorizadores
        th Ativo
        th Autorizadores
        th Observações
    tbody
        tr(rv-each-row='dbms.apps.app_autorizadores.data.rows')
            td {row.app_autorizadores_key}
            td {row.ativo}
            td {row.autorizadores}
            td {row.observacoes}