//
    Template default para: default.users.user_contas
    Criado em Mon May 09 2016 14:40:50 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th User Contas
        th Users
        th  Tipo
        th Conta
    tbody
        tr(rv-each-row='data.rows')
            td {row.user_contas_key}
            td {row.users_key}
            td {row._tipo}
            td {row.conta}