//
    Template default para: softlabs.empresas.emp_end_eletronicos_rel
    Criado em Thu May 26 2016 11:09:24 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Empresas
        th End Eletronicos
    tbody
        tr(rv-each-row='softlabs.empresas.[object Object].data.rows')
            td {row.empresas_key}
            td {row.end_eletronicos_key}