//
    Template choose para: dreams.dreams.dream_categorias
    Criado em Fri Jun 17 2016 15:44:50 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    theadtr.cursor
        th.one.wide Ordem
        th.fifteen.wide Categoria
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.dream_categorias_key'
        )
            td
                | {row.num_order}
            td
                | {row.category}