//
    Template default para: softlabs.empresas.emp_depositos
    Criado em Thu May 26 2016 11:09:24 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Emp Depositos
        th Empresas
        th Emp Depositos Tipos
        th Cont Centro Resultados
        th Enderecos
        th Deposito
        th Produção
        th Altura
        th Largura
        th Comprimento
        th Observações
    tbody
        tr(rv-each-row='softlabs.empresas.[object Object].data.rows')
            td {row.emp_depositos_key}
            td {row.empresas_key}
            td {row.emp_depositos_tipos_key}
            td {row.cont_centro_resultados_key}
            td {row.enderecos_key}
            td {row.deposito}
            td {row.producao}
            td {row.altura}
            td {row.largura}
            td {row.comprimento}
            td {row.observacoes}