//
    Template default para: mlanna.veiculos.veiculos
    Criado em Wed May 11 2016 11:19:23 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Veiculos
        th Veic Marcas
        th Veic Modelos
        th Motoristas
        th Veiculo
        th Dt Cadastro
        th Cor
        th Observações
    tbody
        tr(rv-each-row='data.rows')
            td {row.veiculos_key}
            td {row.veic_marcas_key}
            td {row.veic_modelos_key}
            td {row.motoristas_key}
            td {row.veiculo}
            td {row.dt_cadastro}
            td {row.cor}
            td {row.observacoes}