//
    Template choose para: softlabs.rh.rh_funcionarios
    Criado em Thu May 26 2016 11:10:30 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th Rh Funcionarios
        th Parceiros
        th Rh Cargos
        th Cont Centro Resultados
        th Ativo
        th Dt Contratação
        th Dt Desligamento
        th Observações
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.rh_funcionarios_key'
        )
            td {row.rh_funcionarios_key}
            td {row.parceiros_key}
            td {row.rh_cargos_key}
            td {row.cont_centro_resultados_key}
            td {row.ativo}
            td {row.dt_contratacao}
            td {row.dt_desligamento}
            td {row.observacoes}