//
    Template default para: softlabs.app.app_autorizacoes
    Criado em Thu May 26 2016 11:08:50 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th App Autorizações
        th Ativo
        th Autorização
        th Modulo
        th Observações
    tbody
        tr(rv-each-row='softlabs.app.[object Object].data.rows')
            td {row.app_autorizacoes_key}
            td {row.ativo}
            td {row.autorizacao}
            td {row.modulo}
            td {row.observacoes}