//
    Template default para: softlabs.app.app_aut_requisicoes
    Criado em Thu May 26 2016 11:08:50 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th App Aut Requisições
        th App Aut Regras
        th App Autorizadores
        th Dt Requisição
        th Dt Resolução
        th Liberado
        th Observações
        th Sec Usuarios
    tbody
        tr(rv-each-row='softlabs.app.[object Object].data.rows')
            td {row.app_aut_requisicoes_key}
            td {row.app_aut_regras_key}
            td {row.app_autorizadores_key}
            td {row.dt_requisicao}
            td {row.dt_resolucao}
            td {row.liberado}
            td {row.observacoes}
            td {row.sec_usuarios_key}