// Templates
include ../../templates/popup_mov_tipo
include ../../templates/popup_form

.ui.content.segment

    include caixa

    include apagar

    include areceber


    +popupMovTipo

    // Form popup de edição
    +popupForm(
        'dbms movimentacoes movimentacoes',
        'Movimentação'
    )