//
    Template default para: softlabs.enderecos.end_estados
    Criado em Mon May 16 2016 10:46:29 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th End Estados
        th End Paises
        th Cod Ibge
        th Uf
        th Estado
    tbody
        tr(rv-each-row='data.rows')
            td {row.end_estados_key}
            td {row.end_paises_key}
            td {row.cod_ibge}
            td {row.uf}
            td {row.estado}