//
   Created by labs on 11/05/16.

.ui.container.transition.hidden.app-contas
    .ui.stackable.grid
        .six.wide.column
            h4.ui.dividing.header Contas Cadastradas
            .ui.animated.selection.list
                .item(
                    rv-each-conta='softlabs.financeiro.fin_contas.data.rows'
                    click='softlabs financeiro fin_contas edit'
                    rv-data-key='conta.fin_contas_key'
                )
                    img.ui.avatar.image(rv-src="conta.codigo | replace 'imgs/_logos/bancos/%s.png'")
                    .content
                        .header Conta {conta.conta} / {conta.fin_bancos_key}
                        .description {conta.banco} / Ag: {conta.agencia}

        .ten.wide.column
            .ui.segment
                h2.ui.header
                    i.payment.icon
                    .content Contas Bancárias
                    .sub.header Gestão das contas financeiras
                .content.softlabs.financeiro.fin_contas-form

    .content.segment#teste123

//
    .ui.fluid.card
        .content
            h2.ui.header
                i.payment.icon
                .content Contas Bancárias
                .sub.header Gestão das contas financeiras


            .cards

                .card(
                    rv-each-conta='softlabs.financeiro.fin_contas.data.rows'
                )
                    .ui.avatar.image
                        img(rv-src="conta.codigo | replace 'imgs/_logos/bancos/%s.png'")
                    .content
                        .header {conta.banco}
                        .meta {conta.conta}


