//
    Template default para: softlabs.unidades.unid_grupos
    Criado em Thu May 26 2016 11:10:44 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='softlabs.unidades.[object Object].data.rows')
    .content
        .header {row.unid_grupos_key} - {row.grupo}
        .meta Keys:  - sem dependências -
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='softlabs unidades [object Object] edit', rv-data-key='row.unid_grupos_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='softlabs unidades [object Object] delete', rv-data-key='row.unid_grupos_key')
                i.delete.icon
                | Remover
