//
    Template default para: softlabs.unidades.unid_grupos
    Criado em Thu May 26 2016 11:10:44 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Unid Grupos
        th Grupo
        th Observações
    tbody
        tr(rv-each-row='softlabs.unidades.[object Object].data.rows')
            td {row.unid_grupos_key}
            td {row.grupo}
            td {row.observacoes}