//
    Template default para: softlabs.app.app_integracoes
    Criado em Thu May 26 2016 11:08:50 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='softlabs.app.[object Object].data.rows')
    .content
        .header {row.app_integracoes_key} - {row.app_integracoes_key}
        .meta Keys: app_integ_config_key, sec_usuarios_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='softlabs app [object Object] edit', rv-data-key='row.app_integracoes_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='softlabs app [object Object] delete', rv-data-key='row.app_integracoes_key')
                i.delete.icon
                | Remover
