//
    Template default para: softlabs.app.app_integracoes
    Criado em Thu May 26 2016 11:08:50 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th App Integrações
        th App Integ Config
        th Sec Usuarios
        th Dt Integração
        th Observações
    tbody
        tr(rv-each-row='softlabs.app.[object Object].data.rows')
            td {row.app_integracoes_key}
            td {row.app_integ_config_key}
            td {row.sec_usuarios_key}
            td {row.dt_integracao}
            td {row.observacoes}