//
    Template default para: softlabs.security.sec_perfis
    Criado em Thu May 26 2016 11:10:38 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='softlabs.security.[object Object].data.rows')
    .content
        .header {row.sec_perfis_key} - {row.perfil}
        .meta Keys:  - sem dependências -
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='softlabs security [object Object] edit', rv-data-key='row.sec_perfis_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='softlabs security [object Object] delete', rv-data-key='row.sec_perfis_key')
                i.delete.icon
                | Remover
