//
    Template default para: softlabs.items.item_producao
    Criado em Mon May 16 2016 10:46:43 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Item Produção
        th Items
        th Fichas Tecnicas
        th Produção
        th Observações
    tbody
        tr(rv-each-row='data.rows')
            td {row.item_producao_key}
            td {row.items_key}
            td {row.fichas_tecnicas_key}
            td {row.producao}
            td {row.observacoes}