//
    Template default para: softlabs.contabil.cont_diario_resultado
    Criado em Mon May 23 2016 09:14:17 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Cont Diario Resultado
        th Cont Centro Resultados
        th Empresas
        th Movimentações
        th Fin Lancamentos
        th Fin Baixas
        th Dt Diario
        th Historico
        th Credito
        th Debito
        th Ref1
        th Ref2
        th Ref3
        th Observações
    tbody
        tr(rv-each-row='softlabs.contabil.[object Object].data.rows')
            td {row.cont_diario_resultado_key}
            td {row.cont_centro_resultados_key}
            td {row.empresas_key}
            td {row.movimentacoes_key}
            td {row.fin_lancamentos_key}
            td {row.fin_baixas_key}
            td {row.dt_diario}
            td {row.historico}
            td {row.credito}
            td {row.debito}
            td {row.ref1}
            td {row.ref2}
            td {row.ref3}
            td {row.observacoes}