//
    Template default para: softlabs.enderecos.end_estoques_rel
    Criado em Thu May 26 2016 11:09:35 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Enderecos
        th Estoques
    tbody
        tr(rv-each-row='softlabs.enderecos.[object Object].data.rows')
            td {row.enderecos_key}
            td {row.estoques_key}