//
    Template default para: softlabs.enderecos.end_estoques_rel
    Criado em Mon May 16 2016 10:46:29 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Enderecos
        th Estoques
    tbody
        tr(rv-each-row='data.rows')
            td {row.enderecos_key}
            td {row.estoques_key}