//
    Template default para: dreams.denuncy.denuncy_dreams_rel
    Criado em Sat May 07 2016 13:33:20 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Denuncy
        th Dreams
    tbody
        tr(rv-each-row='data.rows')
            td {row.denuncy_key}
            td {row.dreams_key}