//
    Template default para: default.denuncy.denuncy_dreams_rel
    Criado em Mon May 09 2016 14:41:23 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Denuncy
        th Dreams
    tbody
        tr(rv-each-row='data.rows')
            td {row.denuncy_key}
            td {row.dreams_key}