//
    Template default para: softlabs.items.item_vendas
    Criado em Thu May 26 2016 11:09:57 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='softlabs.items.[object Object].data.rows')
    .content
        .header {row.item_vendas_key} - {row.item_venda}
        .meta Keys: items_key, prod_tabelas_key, prod_venda_categorias_key, prod_item_producao_key, fichas_tecnicas_key, prod_baixa_tipos_key, prod_embalagens_key, unidades_key, estoques_key, estoq_locais_key, prod_icms_key, prod_cod_origem_key, prod_cod_tributacao_key, cont_plano_contas_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='softlabs items [object Object] edit', rv-data-key='row.item_vendas_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='softlabs items [object Object] delete', rv-data-key='row.item_vendas_key')
                i.delete.icon
                | Remover
