
.ui.content.segment

    .ui.container.transition.hidden.app_contas
        include contas

    .ui.container.transition.hidden.app_clientes
        include clientes

    .ui.container.transition.hidden.app_clientes_detalhes
        include clientes_detalhes

    .ui.container.transition.hidden.app_fornecedores
        include fornecedores

    .ui.container.transition.hidden.app_fornecedores_detalhes
        include fornecedores_detalhes