
.ui.segment.height{
    height: 450px;
    overflow: auto;
}

.disabled>.content,
.disabled>.item {
    color: red !important;
    text-decoration: line-through;
}

.hidden {
    display: none !important;
}

.bg:before {
    background: url("../imgs/_intf/bluebg01.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
    position: absolute;
    opacity: 0.23;
    content: " ";
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0;
}

.logo:before {
    background: url("../imgs/_logos/softlabs.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    position: absolute;
    opacity: 0.1;
    content: " ";
    height: 100%;
    width: 100%;
}
