//
    Template choose para: dbms.contabil.cont_determinacao
    Criado em Sun May 29 2016 08:57:35 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th Cont Determinação
        th Conta Receitas
        th Conta Despesas
        th Conta Diferencas
        th Cont Credito Compras
        th Conta Credito Venda
        th Conta Venda Gratis
        th Conta Compra Gratis
        th Conta Cmv
        th Conta Estoque
        th Conta Estoque Transito
        th Conta Estoque Perdas
        th Emp Depositos
        th Item Categorias
        th Item Categ Sub
        th Items
        th Dt Inicio
        th Dt Final
        th Observações
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.cont_determinacao_key'
        )
            td {row.cont_determinacao_key}
            td {row.conta_receitas_key}
            td {row.conta_despesas_key}
            td {row.conta_diferencas_key}
            td {row.cont_credito_compras_key}
            td {row.conta_credito_venda_key}
            td {row.conta_venda_gratis_key}
            td {row.conta_compra_gratis_key}
            td {row.conta_cmv_key}
            td {row.conta_estoque_key}
            td {row.conta_estoque_transito_key}
            td {row.conta_estoque_perdas_key}
            td {row.emp_depositos_key}
            td {row.item_categorias_key}
            td {row.item_categ_sub_key}
            td {row.items_key}
            td {row.dt_inicio}
            td {row.dt_final}
            td {row.observacoes}