//
    Template default para: softlabs.contabil.cont_determinacao_rel
    Criado em Thu May 26 2016 11:09:09 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Contabil
        th Cont Determinação
        th Empresas
    tbody
        tr(rv-each-row='softlabs.contabil.[object Object].data.rows')
            td {row.contabil_key}
            td {row.cont_determinacao_key}
            td {row.empresas_key}