//
    Template default para: softlabs.contabil.cont_determinacao_rel
    Criado em Wed Apr 27 2016 18:11:58 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='data.rows')
    .content
        .header {row.contabil_key} - {row.}
        .meta Keys: contabil_key, cont_determinacao_key, empresas_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(rv-data-action='api.edit', rv-data-key='row.contabil_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='api.delete', rv-data-key='row.contabil_key')
                i.delete.icon
                | Remover
