//
    Template default para: softlabs.contabil.cont_determinacao_rel
    Criado em Mon May 16 2016 10:44:44 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Contabil
        th Cont Determinação
        th Empresas
    tbody
        tr(rv-each-row='data.rows')
            td {row.contabil_key}
            td {row.cont_determinacao_key}
            td {row.empresas_key}