//
    Template default para: dbms.financeiro.fin_contas_sec_rel
    Criado em Sun May 29 2016 08:58:09 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='dbms.financeiro.[object Object].data.rows')
    .content
        .header {row.fin_contas_key} - {row.ve_movimento}
        .meta Keys: fin_contas_key, sec_usuarios_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='dbms financeiro [object Object] edit', rv-data-key='row.fin_contas_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='dbms financeiro [object Object] delete', rv-data-key='row.fin_contas_key')
                i.delete.icon
                | Remover
