//
    Template choose para: softlabs.parceiros.parc_relacionados
    Criado em Mon May 23 2016 09:16:25 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th Parc Relacionados
        th Parc Rel Tipos
        th Parceiros
        th Parceiros Rel
        th Observações
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.parc_relacionados_key'
        )
            td {row.parc_relacionados_key}
            td {row.parc_rel_tipos_key}
            td {row.parceiros_key}
            td {row.parceiros_rel_key}
            td {row.observacoes}