//
    Template default para: dbms.movimentacoes.mov_status
    Criado em Mon Jun 13 2016 08:54:12 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='dbms.movimentacoes.mov_status.data.rows')
    .content
        .header {row.mov_status_key} - {row.mov_status}
        .meta Keys:  - sem dependências -
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='dbms movimentacoes mov_status edit', rv-data-key='row.mov_status_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='dbms movimentacoes mov_status delete', rv-data-key='row.mov_status_key')
                i.delete.icon
                | Remover
