//
    Template choose para: dbms.enderecos.end_eletronico_tipos
    Criado em Sun May 29 2016 08:57:57 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th End Eletronico Tipos
        th Tipo
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.end_eletronico_tipos_key'
        )
            td {row.end_eletronico_tipos_key}
            td {row.tipo}