//
    Template default para: dbms.orcamentos.orcamentos
    Criado em Mon Jun 13 2016 08:56:52 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='dbms.orcamentos.orcamentos.data.rows')
    .content
        .header {row.orcamentos_key} - {row.descricao}
        .meta Keys: ent_coligadas_key, coligadas_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='dbms orcamentos orcamentos edit', rv-data-key='row.orcamentos_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='dbms orcamentos orcamentos delete', rv-data-key='row.orcamentos_key')
                i.delete.icon
                | Remover
