//
    Template default para: dbms.items.item_manutencao
    Criado em Mon Jun 13 2016 08:56:39 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Item Manutenção
        th Item Identificado
        th Observações
    tbody
        tr(rv-each-row='dbms.items.item_manutencao.data.rows')
            td {row.item_manutencao_key}
            td {row.item_identificado_key}
            td {row.observacoes}