//
    Template default para: mlanna.motoristas.motoristas
    Criado em Wed May 11 2016 11:13:10 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Motoristas
        th Mot Ocorrencias
        th Motorista
        th Cnh
        th Cnh Tipo
        th Observações
    tbody
        tr(rv-each-row='data.rows')
            td {row.motoristas_key}
            td {row.mot_ocorrencias_key}
            td {row.motorista}
            td {row.cnh}
            td {row.cnh_tipo}
            td {row.observacoes}