//
    Template default para: softlabs.rh.rh_cargos_habilidades_rel
    Criado em Wed Apr 27 2016 18:13:26 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='data.rows')
    .content
        .header {row.rh_cargos_key} - {row.mandatoria}
        .meta Keys: rh_cargos_key, rh_habilidades_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(rv-data-action='api.edit', rv-data-key='row.rh_cargos_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='api.delete', rv-data-key='row.rh_cargos_key')
                i.delete.icon
                | Remover
