//
    Template default para: softlabs.empresas.emp_setores
    Criado em Mon May 16 2016 10:45:08 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Emp Setores
        th Empresas
        th Setor
        th Observações
        th Cont Centro Resultados
    tbody
        tr(rv-each-row='data.rows')
            td {row.emp_setores_key}
            td {row.empresas_key}
            td {row.setor}
            td {row.observacoes}
            td {row.cont_centro_resultados_key}