//
    Template default para: softlabs.contratos.contr_tipos
    Criado em Mon May 16 2016 10:44:55 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Contr Tipos
        th Tipo
        th Observações
    tbody
        tr(rv-each-row='data.rows')
            td {row.contr_tipos_key}
            td {row.tipo}
            td {row.observacoes}