//
    Template choose para: dbms.unidades.unid_grupos
    Criado em Mon Jun 13 2016 08:57:32 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th Unid Grupos
        th Grupo
        th Observações
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.unid_grupos_key'
        )
            td {row.unid_grupos_key}
            td {row.grupo}
            td {row.observacoes}