//
    Template default para: dbms.apps.app_aut_regras
    Criado em Mon Jun 13 2016 08:54:31 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='dbms.apps.app_aut_regras.data.rows')
    .content
        .header {row.app_aut_regras_key} - {row.regra}
        .meta Keys: app_autorizacoes_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='dbms apps app_aut_regras edit', rv-data-key='row.app_aut_regras_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='dbms apps app_aut_regras delete', rv-data-key='row.app_aut_regras_key')
                i.delete.icon
                | Remover
