//
    Template default para: dbms.apps.app_aut_regras
    Criado em Mon Jun 13 2016 08:54:31 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th App Aut Regras
        th App Autorizações
        th Regra
        th Min Autorizações
        th Evento
        th Codigo
        th Observações
    tbody
        tr(rv-each-row='dbms.apps.app_aut_regras.data.rows')
            td {row.app_aut_regras_key}
            td {row.app_autorizacoes_key}
            td {row.regra}
            td {row.min_autorizacoes}
            td {row.evento}
            td {row.codigo}
            td {row.observacoes}