//
    Template default para: dbms.contabil.contabil
    Criado em Sun May 29 2016 08:57:35 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Contabil
        th Periodo
        th Dt Inicio
        th Dt Final
        th Observações
    tbody
        tr(rv-each-row='dbms.contabil.[object Object].data.rows')
            td {row.contabil_key}
            td {row.periodo}
            td {row.dt_inicio}
            td {row.dt_final}
            td {row.observacoes}