//
    Template default para: dbms.financeiro.fin_especies
    Criado em Sun May 29 2016 08:58:09 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Fin Especies
        th Baixa Vira Lanc
        th Especie
        th Observações
    tbody
        tr(rv-each-row='dbms.financeiro.[object Object].data.rows')
            td {row.fin_especies_key}
            td {row.baixa_vira_lanc}
            td {row.especie}
            td {row.observacoes}