//
    Template choose para: softlabs.financeiro.fin_caixa_lanc_rel
    Criado em Thu May 26 2016 11:09:45 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th Fin Caixa Lanc
        th Fin Lancamentos
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.fin_caixa_lanc_key'
        )
            td {row.fin_caixa_lanc_key}
            td {row.fin_lancamentos_key}