//
    Template default para: softlabs.financeiro.fin_caixa_lanc_rel
    Criado em Mon May 16 2016 10:43:34 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Fin Caixa Lanc
        th Fin Lancamentos
    tbody
        tr(rv-each-row='data.rows')
            td {row.fin_caixa_lanc_key}
            td {row.fin_lancamentos_key}