extends ../../../../_common/views/header

// Título do app
block title
    title='Softlabs - S2 School Kids'


// Estilos do app
block app_css


// Javascripts do app
block app_scripts
    script(type='application/javascript', src='views/app_home/home.js')
    script(type='application/javascript', src='configuracoes.js')


block content
    .ui.content.app
        img#logo_tshark.ui.image.cursor(src='imgs/_logos/tshark.png')
        .ui.grid.app-screen
            .five.wide.column.app-lateral

            .eleven.wide.column.app-area
