//
    Template default para: softlabs.contratos.contr_faturamentos
    Criado em Mon May 16 2016 10:44:55 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Contr Faturamentos
        th Contr Fases
        th Dt Vencimento
        th Descrição
        th Valor Base
        th Valor Excedente
        th Desconto
        th Valor Final
        th Observações
    tbody
        tr(rv-each-row='data.rows')
            td {row.contr_faturamentos_key}
            td {row.contr_fases_key}
            td {row.dt_vencimento}
            td {row.descricao}
            td {row.valor_base}
            td {row.valor_excedente}
            td {row.desconto}
            td {row.valor_final}
            td {row.observacoes}