//
    Template default para: softlabs.contabil.cont_plano_contas
    Criado em Mon May 16 2016 10:44:44 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Cont Plano Contas
        th Cont Categorias
        th Parent
        th  Left
        th  Right
        th  Moving
        th  Integração
        th Ativo
        th Gera Despesa
        th Codigo
        th Plano Conta
        th Observações
    tbody
        tr(rv-each-row='data.rows')
            td {row.cont_plano_contas_key}
            td {row.cont_categorias_key}
            td {row.parent_key}
            td {row._left}
            td {row._right}
            td {row._moving}
            td {row._integracao}
            td {row.ativo}
            td {row.gera_despesa}
            td {row.codigo}
            td {row.plano_conta}
            td {row.observacoes}