//
    Template default para: softlabs.financeiro.fin_lanc_tipos
    Criado em Thu May 26 2016 11:09:45 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='softlabs.financeiro.[object Object].data.rows')
    .content
        .header {row.fin_lanc_tipos_key} - {row.lanc_tipo}
        .meta Keys:  - sem dependências -
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='softlabs financeiro [object Object] edit', rv-data-key='row.fin_lanc_tipos_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='softlabs financeiro [object Object] delete', rv-data-key='row.fin_lanc_tipos_key')
                i.delete.icon
                | Remover
