//
    Template default para: softlabs.financeiro.fin_lanc_tipos
    Criado em Mon May 16 2016 10:43:34 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Fin Lanc Tipos
        th Codigo
        th Lanc Tipo
        th Observações
    tbody
        tr(rv-each-row='data.rows')
            td {row.fin_lanc_tipos_key}
            td {row.codigo}
            td {row.lanc_tipo}
            td {row.observacoes}