//
    Template default para: softlabs.unidades.unidades
    Criado em Wed Apr 27 2016 18:13:41 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='data.rows')
    .content
        .header {row.unidades_key} - {row.unidades_key}
        .meta Keys: unid_grupos_key, parent_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(rv-data-action='api.edit', rv-data-key='row.unidades_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='api.delete', rv-data-key='row.unidades_key')
                i.delete.icon
                | Remover
