//
    Template default para: softlabs.producao.prod_baixa_tipos
    Criado em Mon May 23 2016 09:16:38 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='softlabs.producao.[object Object].data.rows')
    .content
        .header {row.prod_baixa_tipos_key} - {row.prod_baixa_tipos_key}
        .meta Keys:  - sem dependências -
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='softlabs producao [object Object] edit', rv-data-key='row.prod_baixa_tipos_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='softlabs producao [object Object] delete', rv-data-key='row.prod_baixa_tipos_key')
                i.delete.icon
                | Remover
