//
    Template default para: softlabs.items.item_marcas
    Criado em Mon May 23 2016 09:15:42 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='softlabs.items.[object Object].data.rows')
    .content
        .header {row.item_marcas_key} - {row.marca}
        .meta Keys: item_fabricantes_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='softlabs items [object Object] edit', rv-data-key='row.item_marcas_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='softlabs items [object Object] delete', rv-data-key='row.item_marcas_key')
                i.delete.icon
                | Remover
