//
    Template default para: softlabs.items.item_marcas
    Criado em Mon May 16 2016 10:46:43 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Item Marcas
        th Item Fabricantes
        th Marca
    tbody
        tr(rv-each-row='data.rows')
            td {row.item_marcas_key}
            td {row.item_fabricantes_key}
            td {row.marca}