//
    Template default para: softlabs.app.app_config_empresas_rel
    Criado em Mon May 23 2016 09:13:21 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th App Config
        th Empresas
    tbody
        tr(rv-each-row='softlabs.app.[object Object].data.rows')
            td {row.app_config_key}
            td {row.empresas_key}