//
    Template default para: softlabs.enderecos.end_tipos
    Criado em Mon May 16 2016 10:46:29 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th End Tipos
        th End Tipo
    tbody
        tr(rv-each-row='data.rows')
            td {row.end_tipos_key}
            td {row.end_tipo}