//
    Template default para: dbms.apps.app_logs_tipos
    Criado em Sun May 29 2016 08:57:02 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th App Logs Tipos
        th Log Tipo
    tbody
        tr(rv-each-row='dbms.apps.[object Object].data.rows')
            td {row.app_logs_tipos_key}
            td {row.log_tipo}