//
    Template default para: softlabs.empresas.emp_fin_contas_rel
    Criado em Thu May 26 2016 11:09:24 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Empresas
        th Fin Contas
        th Padrão
    tbody
        tr(rv-each-row='softlabs.empresas.[object Object].data.rows')
            td {row.empresas_key}
            td {row.fin_contas_key}
            td {row.padrao}