//
    Template default para: dbms.unidades.unidades
    Criado em Mon Jun 13 2016 08:57:32 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='dbms.unidades.unidades.data.rows')
    .content
        .header {row.unidades_key} - {row.unidade}
        .meta Keys: unid_grupos_key, parent_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='dbms unidades unidades edit', rv-data-key='row.unidades_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='dbms unidades unidades delete', rv-data-key='row.unidades_key')
                i.delete.icon
                | Remover
