//
    Template default para: dbms.unidades.unidades
    Criado em Mon Jun 13 2016 08:57:32 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Unidades
        th Unid Grupos
        th Parent
        th Sigla
        th Unidade
        th Proporção
        th Padrão
        th Referencia
        th Familia
        th Observações
    tbody
        tr(rv-each-row='dbms.unidades.unidades.data.rows')
            td {row.unidades_key}
            td {row.unid_grupos_key}
            td {row.parent_key}
            td {row.sigla}
            td {row.unidade}
            td {row.proporcao}
            td {row.padrao}
            td {row.referencia}
            td {row.familia}
            td {row.observacoes}