//
    Template default para: softlabs.items.item_ident_imoveis
    Criado em Thu May 26 2016 11:09:57 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='softlabs.items.[object Object].data.rows')
    .content
        .header {row.item_identificado_key} - {row.item_identificado_key}
        .meta Keys:  - sem dependências -
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='softlabs items [object Object] edit', rv-data-key='row.item_identificado_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='softlabs items [object Object] delete', rv-data-key='row.item_identificado_key')
                i.delete.icon
                | Remover
