//
    Template default para: dbms.items.item_categorias
    Criado em Mon Jun 13 2016 08:56:39 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='dbms.items.item_categorias.data.rows')
    .content
        .header {row.item_categorias_key} - {row.categoria}
        .meta Keys: cont_centros_resultado_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='dbms items item_categorias edit', rv-data-key='row.item_categorias_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='dbms items item_categorias delete', rv-data-key='row.item_categorias_key')
                i.delete.icon
                | Remover
