//
    Template default para: dbms.security.sec_perfis_regras
    Criado em Mon Jun 13 2016 08:57:24 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='dbms.security.sec_perfis_regras.data.rows')
    .content
        .header {row.sec_perfis_key} - {row.sec_perfis_key}
        .meta Keys:  - sem dependências -
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='dbms security sec_perfis_regras edit', rv-data-key='row.sec_perfis_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='dbms security sec_perfis_regras delete', rv-data-key='row.sec_perfis_key')
                i.delete.icon
                | Remover
