//
    Template default para: dbms.security.sec_perfis_regras
    Criado em Mon Jun 13 2016 08:57:24 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Sec Perfis
        th Sec Regras
        th Nivel
    tbody
        tr(rv-each-row='dbms.security.sec_perfis_regras.data.rows')
            td {row.sec_perfis_key}
            td {row.sec_regras_key}
            td {row.nivel}