//
    Template choose para: dbms.rh.rh_cargos
    Criado em Mon Jun 13 2016 08:57:11 GMT-0300 (BRT)

table.ui.compact.striped.selectable.celled.table.choose-rows
    thead
        th Rh Cargos
        th Cont Centro Resultados
        th Cargo
        th Remuneração Min
        th Remuneração Max
        th Observações
    tbody
        tr.cursor(
            rv-each-row='choose.data.rows'
            rv-on-click='choose.select'
            rv-data-key='row.rh_cargos_key'
        )
            td {row.rh_cargos_key}
            td {row.cont_centro_resultados_key}
            td {row.cargo}
            td {row.remuneracao_min}
            td {row.remuneracao_max}
            td {row.observacoes}