//
    Template default para: softlabs.app.app_autorizadores_rel
    Criado em Mon May 16 2016 10:44:24 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th App Autorizações
        th App Autorizadores
    tbody
        tr(rv-each-row='data.rows')
            td {row.app_autorizacoes_key}
            td {row.app_autorizadores_key}