//
    Template default para: dbms.orcamentos.orc_periodos
    Criado em Sun May 29 2016 08:58:43 GMT-0300 (BRT)

.ui.fluid.card(rv-each-row='dbms.orcamentos.[object Object].data.rows')
    .content
        .header {row.orc_periodos_key} - {row.periodo}
        .meta Keys: orcamentos_key, sec_alterado_por_key
        .description

    .extra.content
        span.left.floated.button
            button.ui.orange.icon.mini.button(data-action='dbms orcamentos [object Object] edit', rv-data-key='row.orc_periodos_key')
                i.edit.icon
                | Editar

        span.right.floated.button
            button.ui.red.icon.mini.button(rv-data-action='dbms orcamentos [object Object] delete', rv-data-key='row.orc_periodos_key')
                i.delete.icon
                | Remover
