//
    Template default para: dbms.contratos.contr_tipos
    Criado em Mon Jun 13 2016 08:54:49 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Contr Tipos
        th Tipo
        th Observações
    tbody
        tr(rv-each-row='dbms.contratos.contr_tipos.data.rows')
            td {row.contr_tipos_key}
            td {row.tipo}
            td {row.observacoes}