//
    Template default para: softlabs.financeiro.fin_contas_tipos
    Criado em Mon May 16 2016 10:43:34 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        th Fin Contas Tipos
        th Tipo Conta
        th Observações
    tbody
        tr(rv-each-row='data.rows')
            td {row.fin_contas_tipos_key}
            td {row.tipo_conta}
            td {row.observacoes}